    #east166-occupied {
	position: absolute;
	left: 669px;
	top: 569px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east172-occupied {
	position: absolute;
	left: 671px;
	top: 527px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east164-occupied {
	position: absolute;
	left: 667px;
	top: 613px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east162-occupied {
	position: absolute;
	left: 666px;
	top: 660px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east160-occupied {
	position: absolute;
	left: 664px;
	top: 701px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east176-occupied {
	position: absolute;
	left: 670px;
	top: 485px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east165-occupied {
	position: absolute;
	left: 487px;
	top: 570px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east163-occupied {
	position: absolute;
	left: 486px;
	top: 614px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east161-occupied {
	position: absolute;
	left: 485px;
	top: 656px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east158-occupied {
	position: absolute;
	left: 663px;
	top: 745px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east159-occupied {
	position: absolute;
	left: 484px;
	top: 699px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east157-occupied {
	position: absolute;
	left: 483px;
	top: 744px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east155-occupied {
	position: absolute;
	left: 485px;
	top: 787px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east153-occupied {
	position: absolute;
	left: 482px;
	top: 829px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east151-occupied {
	position: absolute;
	left: 482px;
	top: 874px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east156-occupied {
	position: absolute;
	left: 666px;
	top: 788px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east154-occupied {
	position: absolute;
	left: 664px;
	top: 832px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east152-occupied {
	position: absolute;
	left: 662px;
	top: 872px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east174-occupied {
	position: absolute;
	left: 671px;
	top: 395px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east170-occupied {
	position: absolute;
	left: 670px;
	top: 440px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east178-occupied {
	position: absolute;
	left: 670px;
	top: 351px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east177-occupied {
	position: absolute;
	left: 499px;
	top: 353px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east173-occupied {
	position: absolute;
	left: 499px;
	top: 396px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east169-occupied {
	position: absolute;
	left: 499px;
	top: 438px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east175-occupied {
	position: absolute;
	left: 496px;
	top: 482px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east171-occupied {
	position: absolute;
	left: 494px;
	top: 524px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #brighton647AD-occupied {
	position: absolute;
	left: 820px;
	top: 612px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east166-locked {
	position: absolute;
	left: 718px;
	top: 567px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east172-locked {
	position: absolute;
	left: 723px;
	top: 525px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east164-locked {
	position: absolute;
	left: 718px;
	top: 612px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east162-locked {
	position: absolute;
	left: 726px;
	top: 658px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east160-locked {
	position: absolute;
	left: 727px;
	top: 703px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east176-locked {
	position: absolute;
	left: 716px;
	top: 483px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east165-locked {
	position: absolute;
	left: 547px;
	top: 566px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east163-locked {
	position: absolute;
	left: 549px;
	top: 615px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east161-locked {
	position: absolute;
	left: 548px;
	top: 656px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east158-locked {
	position: absolute;
	left: 726px;
	top: 745px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east159-locked {
	position: absolute;
	left: 549px;
	top: 701px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east157-locked {
	position: absolute;
	left: 548px;
	top: 745px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east155-locked {
	position: absolute;
	left: 549px;
	top: 785px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east153-locked {
	position: absolute;
	left: 548px;
	top: 828px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east151-locked {
	position: absolute;
	left: 548px;
	top: 874px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east156-locked {
	position: absolute;
	left: 726px;
	top: 790px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east154-locked {
	position: absolute;
	left: 729px;
	top: 834px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east152-locked {
	position: absolute;
	left: 731px;
	top: 874px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east174-locked {
	position: absolute;
	left: 715px;
	top: 396px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east170-locked {
	position: absolute;
	left: 717px;
	top: 441px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east178-locked {
	position: absolute;
	left: 716px;
	top: 351px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east177-locked {
	position: absolute;
	left: 548px;
	top: 353px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east173-locked {
	position: absolute;
	left: 549px;
	top: 396px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east169-locked {
	position: absolute;
	left: 548px;
	top: 439px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east175-locked {
	position: absolute;
	left: 549px;
	top: 482px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east171-locked {
	position: absolute;
	left: 549px;
	top: 525px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #brighton647AD-locked {
	position: absolute;
	left: 874px;
	top: 613px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
