#case255-locked {
	position: absolute;
	left: 499px;
	top: 213px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case254-locked {
	position: absolute;
	left: 563px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case253-locked {
	position: absolute;
	left: 637px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case252-locked {
	position: absolute;
	left: 704px;
	top: 217px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case251-locked {
	position: absolute;
	left: 772px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case250-locked {
	position: absolute;
	left: 833px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case249-locked {
	position: absolute;
	left: 898px;
	top: 216px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case248-locked {
	position: absolute;
	left: 961px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case247-locked {
	position: absolute;
	left: 1076px;
	top: 316px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case246-locked {
	position: absolute;
	left: 1076px;
	top: 363px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case245-locked {
	position: absolute;
	left: 1077px;
	top: 413px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case244-locked {
	position: absolute;
	left: 1077px;
	top: 463px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case243-locked {
	position: absolute;
	left: 1091px;
	top: 508px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case242-locked {
	position: absolute;
	left: 1085px;
	top: 568px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case241-locked {
	position: absolute;
	left: 1089px;
	top: 618px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case201-locked {
	position: absolute;
	left: 294px;
	top: 378px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case202-locked {
	position: absolute;
	left: 293px;
	top: 433px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case203-locked {
	position: absolute;
	left: 297px;
	top: 488px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case204-locked {
	position: absolute;
	left: 296px;
	top: 538px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case205-locked {
	position: absolute;
	left: 303px;
	top: 583px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case206-locked {
	position: absolute;
	left: 305px;
	top: 637px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case240-locked {
	position: absolute;
	left: 1091px;
	top: 669px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case207-locked {
	position: absolute;
	left: 307px;
	top: 683px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case208-locked {
	position: absolute;
	left: 309px;
	top: 738px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case225-locked {
	position: absolute;
	left: 880px;
	top: 832px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case224-locked {
	position: absolute;
	left: 811px;
	top: 829px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case223-locked {
	position: absolute;
	left: 734px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case222-locked {
	position: absolute;
	left: 668px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case221-locked {
	position: absolute;
	left: 601px;
	top: 827px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case220-locked {
	position: absolute;
	left: 538px;
	top: 830px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case219-locked {
	position: absolute;
	left: 479px;
	top: 828px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case218-locked {
	position: absolute;
	left: 414px;
	top: 826px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
#case255-occupied {
	position: absolute;
	left: 498px;
	top: 212px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case254-occupied {
	position: absolute;
	left: 562px;
	top: 214px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case253-occupied {
	position: absolute;
	left: 636px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case252-occupied {
	position: absolute;
	left: 704px;
	top: 217px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case251-occupied {
	position: absolute;
	left: 769px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case250-occupied {
	position: absolute;
	left: 834px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case249-occupied {
	position: absolute;
	left: 896px;
	top: 215px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case248-occupied {
	position: absolute;
	left: 962px;
	top: 217px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case247-occupied {
	position: absolute;
	left: 1076px;
	top: 316px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case246-occupied {
	position: absolute;
	left: 1076px;
	top: 363px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case245-occupied {
	position: absolute;
	left: 1077px;
	top: 413px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case244-occupied {
	position: absolute;
	left: 1077px;
	top: 463px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case243-occupied {
	position: absolute;
	left: 1091px;
	top: 508px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case242-occupied {
	position: absolute;
	left: 1085px;
	top: 568px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case241-occupied {
	position: absolute;
	left: 1089px;
	top: 618px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case201-occupied {
	position: absolute;
	left: 293px;
	top: 378px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case202-occupied {
	position: absolute;
	left: 292px;
	top: 433px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case203-occupied {
	position: absolute;
	left: 296px;
	top: 488px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case204-occupied {
	position: absolute;
	left: 295px;
	top: 538px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case205-occupied {
	position: absolute;
	left: 302px;
	top: 583px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case206-occupied {
	position: absolute;
	left: 306px;
	top: 637px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case240-occupied {
	position: absolute;
	left: 1091px;
	top: 669px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case207-occupied {
	position: absolute;
	left: 306px;
	top: 683px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case208-occupied {
	position: absolute;
	left: 308px;
	top: 739px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case225-occupied {
	position: absolute;
	left: 880px;
	top: 831px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case224-occupied {
	position: absolute;
	left: 810px;
	top: 829px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case223-occupied {
	position: absolute;
	left: 734px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case222-occupied {
	position: absolute;
	left: 669px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case221-occupied {
	position: absolute;
	left: 601px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case220-occupied {
	position: absolute;
	left: 537px;
	top: 829px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case219-occupied {
	position: absolute;
	left: 476px;
	top: 828px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case218-occupied {
	position: absolute;
	left: 413px;
	top: 825px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
