#case255-locked {
	position: absolute;
	left: 551px;
	top: 161px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case254-locked {
	position: absolute;
	left: 602px;
	top: 168px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case253-locked {
	position: absolute;
	left: 656px;
	top: 162px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case252-locked {
	position: absolute;
	left: 704px;
	top: 167px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case251-locked {
	position: absolute;
	left: 750px;
	top: 172px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case250-locked {
	position: absolute;
	left: 796px;
	top: 175px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case249-locked {
	position: absolute;
	left: 840px;
	top: 176px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case248-locked {
	position: absolute;
	left: 890px;
	top: 178px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case247-locked {
	position: absolute;
	left: 973px;
	top: 253px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case246-locked {
	position: absolute;
	left: 972px;
	top: 305px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case245-locked {
	position: absolute;
	left: 972px;
	top: 353px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case244-locked {
	position: absolute;
	left: 970px;
	top: 399px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case243-locked {
	position: absolute;
	left: 976px;
	top: 451px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case242-locked {
	position: absolute;
	left: 983px;
	top: 508px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case241-locked {
	position: absolute;
	left: 987px;
	top: 555px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case201-locked {
	position: absolute;
	left: 401px;
	top: 327px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case202-locked {
	position: absolute;
	left: 399px;
	top: 381px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case203-locked {
	position: absolute;
	left: 400px;
	top: 434px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case204-locked {
	position: absolute;
	left: 402px;
	top: 486px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case205-locked {
	position: absolute;
	left: 412px;
	top: 536px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case206-locked {
	position: absolute;
	left: 415px;
	top: 584px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case240-locked {
	position: absolute;
	left: 987px;
	top: 606px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case207-locked {
	position: absolute;
	left: 413px;
	top: 632px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case208-locked {
	position: absolute;
	left: 413px;
	top: 679px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case225-locked {
	position: absolute;
	left: 832px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case224-locked {
	position: absolute;
	left: 784px;
	top: 770px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case223-locked {
	position: absolute;
	left: 734px;
	top: 771px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case222-locked {
	position: absolute;
	left: 684px;
	top: 774px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case221-locked {
	position: absolute;
	left: 638px;
	top: 759px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case220-locked {
	position: absolute;
	left: 589px;
	top: 755px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case219-locked {
	position: absolute;
	left: 543px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case218-locked {
	position: absolute;
	left: 497px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
#case255-occupied {
	position: absolute;
	left: 551px;
	top: 161px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case254-occupied {
	position: absolute;
	left: 602px;
	top: 168px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case253-occupied {
	position: absolute;
	left: 656px;
	top: 162px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case252-occupied {
	position: absolute;
	left: 704px;
	top: 167px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case251-occupied {
	position: absolute;
	left: 750px;
	top: 172px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case250-occupied {
	position: absolute;
	left: 796px;
	top: 175px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case249-occupied {
	position: absolute;
	left: 840px;
	top: 176px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case248-occupied {
	position: absolute;
	left: 890px;
	top: 178px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case247-occupied {
	position: absolute;
	left: 973px;
	top: 253px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case246-occupied {
	position: absolute;
	left: 972px;
	top: 305px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case245-occupied {
	position: absolute;
	left: 972px;
	top: 353px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case244-occupied {
	position: absolute;
	left: 970px;
	top: 399px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case243-occupied {
	position: absolute;
	left: 976px;
	top: 451px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case242-occupied {
	position: absolute;
	left: 983px;
	top: 508px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case241-occupied {
	position: absolute;
	left: 987px;
	top: 555px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case201-occupied {
	position: absolute;
	left: 401px;
	top: 327px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case202-occupied {
	position: absolute;
	left: 399px;
	top: 381px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case203-occupied {
	position: absolute;
	left: 401px;
	top: 435px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case204-occupied {
	position: absolute;
	left: 402px;
	top: 486px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case205-occupied {
	position: absolute;
	left: 412px;
	top: 536px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case206-occupied {
	position: absolute;
	left: 415px;
	top: 584px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case240-occupied {
	position: absolute;
	left: 987px;
	top: 606px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case207-occupied {
	position: absolute;
	left: 413px;
	top: 632px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case208-occupied {
	position: absolute;
	left: 413px;
	top: 679px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case225-occupied {
	position: absolute;
	left: 832px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case224-occupied {
	position: absolute;
	left: 784px;
	top: 770px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case223-occupied {
	position: absolute;
	left: 734px;
	top: 771px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case222-occupied {
	position: absolute;
	left: 684px;
	top: 774px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case221-occupied {
	position: absolute;
	left: 638px;
	top: 759px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case220-occupied {
	position: absolute;
	left: 589px;
	top: 755px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case219-occupied {
	position: absolute;
	left: 543px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case218-occupied {
	position: absolute;
	left: 497px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
