#case255-locked {
	position: absolute;
	left: 497px;
	top: 280px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case254-locked {
	position: absolute;
	left: 561px;
	top: 284px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case253-locked {
	position: absolute;
	left: 632px;
	top: 288px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case252-locked {
	position: absolute;
	left: 704px;
	top: 288px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case251-locked {
	position: absolute;
	left: 772px;
	top: 285px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case250-locked {
	position: absolute;
	left: 832px;
	top: 287px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case249-locked {
	position: absolute;
	left: 894px;
	top: 290px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case248-locked {
	position: absolute;
	left: 961px;
	top: 286px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case247-locked {
	position: absolute;
	left: 1076px;
	top: 377px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case246-locked {
	position: absolute;
	left: 1074px;
	top: 426px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case245-locked {
	position: absolute;
	left: 1076px;
	top: 479px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case244-locked {
	position: absolute;
	left: 1080px;
	top: 537px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case243-locked {
	position: absolute;
	left: 1091px;
	top: 578px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case242-locked {
	position: absolute;
	left: 1087px;
	top: 635px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case241-locked {
	position: absolute;
	left: 1088px;
	top: 691px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case201-locked {
	position: absolute;
	left: 289px;
	top: 446px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case202-locked {
	position: absolute;
	left: 290px;
	top: 500px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case203-locked {
	position: absolute;
	left: 292px;
	top: 550px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case204-locked {
	position: absolute;
	left: 295px;
	top: 607px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case205-locked {
	position: absolute;
	left: 299px;
	top: 664px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case206-locked {
	position: absolute;
	left: 299px;
	top: 713px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case240-locked {
	position: absolute;
	left: 1088px;
	top: 750px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case207-locked {
	position: absolute;
	left: 297px;
	top: 759px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case208-locked {
	position: absolute;
	left: 294px;
	top: 806px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case225-locked {
	position: absolute;
	left: 880px;
	top: 913px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case224-locked {
	position: absolute;
	left: 812px;
	top: 905px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case223-locked {
	position: absolute;
	left: 743px;
	top: 905px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case222-locked {
	position: absolute;
	left: 673px;
	top: 907px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case221-locked {
	position: absolute;
	left: 604px;
	top: 897px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case220-locked {
	position: absolute;
	left: 540px;
	top: 897px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case219-locked {
	position: absolute;
	left: 473px;
	top: 897px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case218-locked {
	position: absolute;
	left: 412px;
	top: 898px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
#case255-occupied {
	position: absolute;
	left: 496px;
	top: 278px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case254-occupied {
	position: absolute;
	left: 562px;
	top: 285px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case253-occupied {
	position: absolute;
	left: 633px;
	top: 287px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case252-occupied {
	position: absolute;
	left: 704px;
	top: 288px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case251-occupied {
	position: absolute;
	left: 770px;
	top: 286px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case250-occupied {
	position: absolute;
	left: 833px;
	top: 288px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case249-occupied {
	position: absolute;
	left: 894px;
	top: 289px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case248-occupied {
	position: absolute;
	left: 962px;
	top: 287px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case247-occupied {
	position: absolute;
	left: 1076px;
	top: 379px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case246-occupied {
	position: absolute;
	left: 1075px;
	top: 426px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case245-occupied {
	position: absolute;
	left: 1075px;
	top: 479px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case244-occupied {
	position: absolute;
	left: 1081px;
	top: 537px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case243-occupied {
	position: absolute;
	left: 1089px;
	top: 580px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case242-occupied {
	position: absolute;
	left: 1087px;
	top: 634px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case241-occupied {
	position: absolute;
	left: 1089px;
	top: 692px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case201-occupied {
	position: absolute;
	left: 287px;
	top: 447px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case202-occupied {
	position: absolute;
	left: 290px;
	top: 501px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case203-occupied {
	position: absolute;
	left: 291px;
	top: 551px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case204-occupied {
	position: absolute;
	left: 296px;
	top: 607px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case205-occupied {
	position: absolute;
	left: 299px;
	top: 662px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case206-occupied {
	position: absolute;
	left: 298px;
	top: 714px;
	width: 40px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #case240-occupied {
	position: absolute;
	left: 1089px;
	top: 749px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case207-occupied {
	position: absolute;
	left: 296px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case208-occupied {
	position: absolute;
	left: 293px;
	top: 815px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case225-occupied {
	position: absolute;
	left: 879px;
	top: 908px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case224-occupied {
	position: absolute;
	left: 812px;
	top: 905px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case223-occupied {
	position: absolute;
	left: 741px;
	top: 905px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case222-occupied {
	position: absolute;
	left: 670px;
	top: 908px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case221-occupied {
	position: absolute;
	left: 602px;
	top: 895px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case220-occupied {
	position: absolute;
	left: 537px;
	top: 898px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case219-occupied {
	position: absolute;
	left: 474px;
	top: 896px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case218-occupied {
	position: absolute;
	left: 410px;
	top: 899px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}

#caseQ2B-occupied {
	position: absolute;
	left: 921px;
	top: 560px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}

#caseQ2C-occupied {
	position: absolute;
	left: 637px;
	top: 769px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}

#caseQ2D-occupied {
	position: absolute;
	left: 449px;
	top: 641px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
#caseQ2B-locked {
	position: absolute;
	left: 921px;
	top: 562px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}

#caseQ2C-locked {
	position: absolute;
	left: 638px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}

#caseQ2D-locked {
	position: absolute;
	left: 450px;
	top: 642px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
