#case155-locked {
	position: absolute;
	left: 551px;
	top: 161px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case154-locked {
	position: absolute;
	left: 602px;
	top: 168px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case153-locked {
	position: absolute;
	left: 656px;
	top: 162px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case152-locked {
	position: absolute;
	left: 704px;
	top: 167px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case151-locked {
	position: absolute;
	left: 751px;
	top: 164px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case150-locked {
	position: absolute;
	left: 796px;
	top: 165px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case149-locked {
	position: absolute;
	left: 842px;
	top: 165px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case148-locked {
	position: absolute;
	left: 887px;
	top: 163px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case147-locked {
	position: absolute;
	left: 974px;
	top: 238px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case146-locked {
	position: absolute;
	left: 974px;
	top: 291px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case145-locked {
	position: absolute;
	left: 975px;
	top: 340px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case144-locked {
	position: absolute;
	left: 975px;
	top: 387px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case143-locked {
	position: absolute;
	left: 989px;
	top: 439px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case142-locked {
	position: absolute;
	left: 983px;
	top: 495px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case141-locked {
	position: absolute;
	left: 987px;
	top: 555px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case101-locked {
	position: absolute;
	left: 393px;
	top: 311px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case102-locked {
	position: absolute;
	left: 392px;
	top: 364px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case103-locked {
	position: absolute;
	left: 396px;
	top: 417px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case104-locked {
	position: absolute;
	left: 395px;
	top: 469px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case105-locked {
	position: absolute;
	left: 402px;
	top: 524px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case106-locked {
	position: absolute;
	left: 406px;
	top: 575px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case140-locked {
	position: absolute;
	left: 989px;
	top: 606px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case107-locked {
	position: absolute;
	left: 406px;
	top: 626px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case108-locked {
	position: absolute;
	left: 409px;
	top: 675px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case125-locked {
	position: absolute;
	left: 832px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case124-locked {
	position: absolute;
	left: 784px;
	top: 770px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case123-locked {
	position: absolute;
	left: 734px;
	top: 771px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case122-locked {
	position: absolute;
	left: 684px;
	top: 774px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case121-locked {
	position: absolute;
	left: 638px;
	top: 759px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case120-locked {
	position: absolute;
	left: 589px;
	top: 755px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case119-locked {
	position: absolute;
	left: 543px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case118-locked {
	position: absolute;
	left: 497px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
#case155-occupied {
	position: absolute;
	left: 551px;
	top: 161px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case154-occupied {
	position: absolute;
	left: 602px;
	top: 168px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case153-occupied {
	position: absolute;
	left: 656px;
	top: 162px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case152-occupied {
	position: absolute;
	left: 703px;
	top: 164px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case151-occupied {
	position: absolute;
	left: 750px;
	top: 166px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case150-occupied {
	position: absolute;
	left: 796px;
	top: 165px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case149-occupied {
	position: absolute;
	left: 844px;
	top: 162px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case148-occupied {
	position: absolute;
	left: 887px;
	top: 164px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case147-occupied {
	position: absolute;
	left: 973px;
	top: 241px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case146-occupied {
	position: absolute;
	left: 974px;
	top: 290px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case145-occupied {
	position: absolute;
	left: 973px;
	top: 340px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case144-occupied {
	position: absolute;
	left: 974px;
	top: 386px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case143-occupied {
	position: absolute;
	left: 990px;
	top: 440px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case142-occupied {
	position: absolute;
	left: 984px;
	top: 493px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case141-occupied {
	position: absolute;
	left: 988px;
	top: 548px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case101-occupied {
	position: absolute;
	left: 395px;
	top: 311px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case102-occupied {
	position: absolute;
	left: 393px;
	top: 362px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case103-occupied {
	position: absolute;
	left: 395px;
	top: 414px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case104-occupied {
	position: absolute;
	left: 395px;
	top: 470px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case105-occupied {
	position: absolute;
	left: 401px;
	top: 525px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case106-occupied {
	position: absolute;
	left: 406px;
	top: 574px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case140-occupied {
	position: absolute;
	left: 991px;
	top: 601px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case107-occupied {
	position: absolute;
	left: 408px;
	top: 623px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case108-occupied {
	position: absolute;
	left: 407px;
	top: 675px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case125-occupied {
	position: absolute;
	left: 832px;
	top: 767px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case124-occupied {
	position: absolute;
	left: 784px;
	top: 770px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case123-occupied {
	position: absolute;
	left: 734px;
	top: 771px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case122-occupied {
	position: absolute;
	left: 684px;
	top: 774px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case121-occupied {
	position: absolute;
	left: 633px;
	top: 759px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case120-occupied {
	position: absolute;
	left: 584px;
	top: 755px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case119-occupied {
	position: absolute;
	left: 543px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
    #case118-occupied {
	position: absolute;
	left: 497px;
	top: 768px;
	width: 44px;
	height: 42px;
	z-index: 1;
}
