#case155-locked {
	position: absolute;
	left: 551px;
	top: 201px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case154-locked {
	position: absolute;
	left: 602px;
	top: 208px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case153-locked {
	position: absolute;
	left: 656px;
	top: 202px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case152-locked {
	position: absolute;
	left: 704px;
	top: 207px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case151-locked {
	position: absolute;
	left: 751px;
	top: 204px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case150-locked {
	position: absolute;
	left: 796px;
	top: 205px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case149-locked {
	position: absolute;
	left: 842px;
	top: 205px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case148-locked {
	position: absolute;
	left: 887px;
	top: 203px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case147-locked {
	position: absolute;
	left: 974px;
	top: 283px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case146-locked {
	position: absolute;
	left: 974px;
	top: 336px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case145-locked {
	position: absolute;
	left: 975px;
	top: 385px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case144-locked {
	position: absolute;
	left: 975px;
	top: 433px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case143-locked {
	position: absolute;
	left: 989px;
	top: 485px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case142-locked {
	position: absolute;
	left: 983px;
	top: 535px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case141-locked {
	position: absolute;
	left: 987px;
	top: 595px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case101-locked {
	position: absolute;
	left: 393px;
	top: 356px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case102-locked {
	position: absolute;
	left: 392px;
	top: 409px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case103-locked {
	position: absolute;
	left: 396px;
	top: 462px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case104-locked {
	position: absolute;
	left: 395px;
	top: 514px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case105-locked {
	position: absolute;
	left: 402px;
	top: 569px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case106-locked {
	position: absolute;
	left: 406px;
	top: 620px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case140-locked {
	position: absolute;
	left: 989px;
	top: 646px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case107-locked {
	position: absolute;
	left: 406px;
	top: 670px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case108-locked {
	position: absolute;
	left: 409px;
	top: 720px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case125-locked {
	position: absolute;
	left: 832px;
	top: 807px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case124-locked {
	position: absolute;
	left: 784px;
	top: 810px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case123-locked {
	position: absolute;
	left: 734px;
	top: 811px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case122-locked {
	position: absolute;
	left: 684px;
	top: 814px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case121-locked {
	position: absolute;
	left: 638px;
	top: 799px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case120-locked {
	position: absolute;
	left: 589px;
	top: 800px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case119-locked {
	position: absolute;
	left: 543px;
	top: 808px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case118-locked {
	position: absolute;
	left: 497px;
	top: 808px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
#case155-occupied {
	position: absolute;
	left: 551px;
	top: 201px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case154-occupied {
	position: absolute;
	left: 602px;
	top: 208px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case153-occupied {
	position: absolute;
	left: 656px;
	top: 202px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case152-occupied {
	position: absolute;
	left: 704px;
	top: 207px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case151-occupied {
	position: absolute;
	left: 751px;
	top: 204px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case150-occupied {
	position: absolute;
	left: 796px;
	top: 205px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case149-occupied {
	position: absolute;
	left: 842px;
	top: 205px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case148-occupied {
	position: absolute;
	left: 887px;
	top: 203px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case147-occupied {
	position: absolute;
	left: 974px;
	top: 283px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case146-occupied {
	position: absolute;
	left: 974px;
	top: 336px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case145-occupied {
	position: absolute;
	left: 975px;
	top: 385px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case144-occupied {
	position: absolute;
	left: 975px;
	top: 433px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case143-occupied {
	position: absolute;
	left: 989px;
	top: 485px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case142-occupied {
	position: absolute;
	left: 983px;
	top: 535px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case141-occupied {
	position: absolute;
	left: 987px;
	top: 595px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case101-occupied {
	position: absolute;
	left: 393px;
	top: 356px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case102-occupied {
	position: absolute;
	left: 392px;
	top: 409px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case103-occupied {
	position: absolute;
	left: 396px;
	top: 462px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case104-occupied {
	position: absolute;
	left: 395px;
	top: 514px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case105-occupied {
	position: absolute;
	left: 402px;
	top: 569px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case106-occupied {
	position: absolute;
	left: 406px;
	top: 620px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case140-occupied {
	position: absolute;
	left: 989px;
	top: 646px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case107-occupied {
	position: absolute;
	left: 406px;
	top: 670px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case108-occupied {
	position: absolute;
	left: 409px;
	top: 720px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case125-occupied {
	position: absolute;
	left: 832px;
	top: 807px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case124-occupied {
	position: absolute;
	left: 784px;
	top: 810px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case123-occupied {
	position: absolute;
	left: 734px;
	top: 811px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case122-occupied {
	position: absolute;
	left: 684px;
	top: 814px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case121-occupied {
	position: absolute;
	left: 638px;
	top: 799px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case120-occupied {
	position: absolute;
	left: 589px;
	top: 800px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case119-occupied {
	position: absolute;
	left: 543px;
	top: 808px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
    #case118-occupied {
	position: absolute;
	left: 497px;
	top: 808px;
	width: 44px;
	height: 42px;
	z-index: 1;
    cursor: pointer
}
