#case155-locked {
	position: absolute;
	left: 490px;
	top: 191px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case154-locked {
	position: absolute;
	left: 560px;
	top: 191px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case153-locked {
	position: absolute;
	left: 626px;
	top: 191px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case152-locked {
	position: absolute;
	left: 701px;
	top: 188px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case151-locked {
	position: absolute;
	left: 765px;
	top: 198px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case150-locked {
	position: absolute;
	left: 830px;
	top: 203px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case149-locked {
	position: absolute;
	left: 895px;
	top: 201px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case148-locked {
	position: absolute;
	left: 952px;
	top: 201px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case147-locked {
	position: absolute;
	left: 1073px;
	top: 298px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case146-locked {
	position: absolute;
	left: 1073px;
	top: 351px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case145-locked {
	position: absolute;
	left: 1074px;
	top: 400px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case144-locked {
	position: absolute;
	left: 1074px;
	top: 448px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case143-locked {
	position: absolute;
	left: 1088px;
	top: 500px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case142-locked {
	position: absolute;
	left: 1082px;
	top: 550px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case141-locked {
	position: absolute;
	left: 1086px;
	top: 610px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case101-locked {
	position: absolute;
	left: 286px;
	top: 365px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case102-locked {
	position: absolute;
	left: 285px;
	top: 418px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case103-locked {
	position: absolute;
	left: 289px;
	top: 471px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case104-locked {
	position: absolute;
	left: 288px;
	top: 523px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case105-locked {
	position: absolute;
	left: 295px;
	top: 578px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case106-locked {
	position: absolute;
	left: 299px;
	top: 629px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case140-locked {
	position: absolute;
	left: 1088px;
	top: 661px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case107-locked {
	position: absolute;
	left: 299px;
	top: 679px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case108-locked {
	position: absolute;
	left: 302px;
	top: 729px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case125-locked {
	position: absolute;
	left: 869px;
	top: 833px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case124-locked {
	position: absolute;
	left: 804px;
	top: 838px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case123-locked {
	position: absolute;
	left: 734px;
	top: 837px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case122-locked {
	position: absolute;
	left: 664px;
	top: 831px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case121-locked {
	position: absolute;
	left: 598px;
	top: 826px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case120-locked {
	position: absolute;
	left: 535px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case119-locked {
	position: absolute;
	left: 472px;
	top: 824px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case118-locked {
	position: absolute;
	left: 407px;
	top: 820px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
#case155-occupied {
	position: absolute;
	left: 491px;
	top: 190px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case154-occupied {
	position: absolute;
	left: 561px;
	top: 191px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case153-occupied {
	position: absolute;
	left: 625px;
	top: 190px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case152-occupied {
	position: absolute;
	left: 700px;
	top: 190px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case151-occupied {
	position: absolute;
	left: 764px;
	top: 198px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case150-occupied {
	position: absolute;
	left: 828px;
	top: 203px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case149-occupied {
	position: absolute;
	left: 895px;
	top: 200px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case148-occupied {
	position: absolute;
	left: 951px;
	top: 200px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case147-occupied {
	position: absolute;
	left: 1071px;
	top: 296px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case146-occupied {
	position: absolute;
	left: 1071px;
	top: 349px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case145-occupied {
	position: absolute;
	left: 1072px;
	top: 398px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case144-occupied {
	position: absolute;
	left: 1072px;
	top: 446px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case143-occupied {
	position: absolute;
	left: 1086px;
	top: 498px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case142-occupied {
	position: absolute;
	left: 1080px;
	top: 548px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case141-occupied {
	position: absolute;
	left: 1084px;
	top: 608px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case101-occupied {
	position: absolute;
	left: 285px;
	top: 363px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case102-occupied {
	position: absolute;
	left: 284px;
	top: 416px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case103-occupied {
	position: absolute;
	left: 288px;
	top: 469px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case104-occupied {
	position: absolute;
	left: 287px;
	top: 521px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case105-occupied {
	position: absolute;
	left: 294px;
	top: 576px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case106-occupied {
	position: absolute;
	left: 298px;
	top: 627px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case140-occupied {
	position: absolute;
	left: 1086px;
	top: 659px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case107-occupied {
	position: absolute;
	left: 298px;
	top: 677px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case108-occupied {
	position: absolute;
	left: 301px;
	top: 727px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case125-occupied {
	position: absolute;
	left: 868px;
	top: 833px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case124-occupied {
	position: absolute;
	left: 804px;
	top: 836px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case123-occupied {
	position: absolute;
	left: 734px;
	top: 836px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case122-occupied {
	position: absolute;
	left: 664px;
	top: 830px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case121-occupied {
	position: absolute;
	left: 599px;
	top: 825px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case120-occupied {
	position: absolute;
	left: 534px;
	top: 823px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case119-occupied {
	position: absolute;
	left: 471px;
	top: 823px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #case118-occupied {
	position: absolute;
	left: 407px;
	top: 819px;
	width: 44px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
