    #east166-occupied {
  position: absolute;
  left: 943px;
  top: 266px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east172-occupied {
  position: absolute;
  left: 847px;
  top: 372px;
  width: 45px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east164-occupied {
  position: absolute;
  left: 949px;
  top: 352px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east162-occupied {
  position: absolute;
  left: 949px;
  top: 413px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east160-occupied {
  position: absolute;
  left: 951px;
  top: 496px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east176-occupied {
  position: absolute;
  left: 770px;
  top: 372px;
  width: 43px;
  height: 40px;
  z-index: 1;
  cursor: pointer
}
    #east165-occupied {
  position: absolute;
  left: 418px;
  top: 275px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east163-occupied {
  position: absolute;
  left: 418px;
  top: 354px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east161-occupied {
  position: absolute;
  left: 418px;
  top: 421px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east158-occupied {
  position: absolute;
  left: 954px;
  top: 570px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east159-occupied {
  position: absolute;
  left: 418px;
  top: 506px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east157-occupied {
  position: absolute;
  left: 418px;
  top: 574px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east155-occupied {
  position: absolute;
  left: 418px;
  top: 660px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east153-occupied {
  position: absolute;
  left: 418px;
  top: 732px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east151-occupied {
  position: absolute;
  left: 418px;
  top: 820px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east156-occupied {
  position: absolute;
  left: 955px;
  top: 650px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east154-occupied {
  position: absolute;
  left: 957px;
  top: 725px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east152-occupied {
  position: absolute;
  left: 957px;
  top: 813px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east174-occupied {
  position: absolute;
  left: 765px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east170-occupied {
  position: absolute;
  left: 845px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east178-occupied {
  position: absolute;
  left: 723px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east177-occupied {
  position: absolute;
  left: 650px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east173-occupied {
  position: absolute;
  left: 609px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east169-occupied {
  position: absolute;
  left: 526px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east175-occupied {
  position: absolute;
  left: 605px;
  top: 372px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east171-occupied {
  position: absolute;
  left: 528px;
  top: 372px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east166-locked {
  position: absolute;
  left: 943px;
  top: 266px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east172-locked {
  position: absolute;
  left: 847px;
  top: 372px;
  width: 45px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east164-locked {
  position: absolute;
  left: 949px;
  top: 352px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east162-locked {
  position: absolute;
  left: 949px;
  top: 413px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east160-locked {
  position: absolute;
  left: 951px;
  top: 496px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east176-locked {
  position: absolute;
  left: 770px;
  top: 372px;
  width: 43px;
  height: 40px;
  z-index: 1;
  cursor: pointer
}
    #east165-locked {
  position: absolute;
  left: 418px;
  top: 275px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east163-locked {
  position: absolute;
  left: 418px;
  top: 354px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east161-locked {
  position: absolute;
  left: 418px;
  top: 421px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east158-locked {
  position: absolute;
  left: 954px;
  top: 570px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east159-locked {
  position: absolute;
  left: 420px;
  top: 506px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east157-locked {
  position: absolute;
  left: 418px;
  top: 574px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east155-locked {
  position: absolute;
  left: 418px;
  top: 660px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east153-locked {
  position: absolute;
  left: 418px;
  top: 732px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east151-locked {
  position: absolute;
  left: 418px;
  top: 820px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east156-locked {
  position: absolute;
  left: 955px;
  top: 650px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east154-locked {
  position: absolute;
  left: 957px;
  top: 725px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east152-locked {
  position: absolute;
  left: 957px;
  top: 813px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #east174-locked {
  position: absolute;
  left: 765px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east170-locked {
  position: absolute;
  left: 845px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east178-locked {
  position: absolute;
  left: 723px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east177-locked {
  position: absolute;
  left: 650px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east173-locked {
  position: absolute;
  left: 609px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east169-locked {
  position: absolute;
  left: 526px;
  top: 242px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east175-locked {
  position: absolute;
  left: 605px;
  top: 372px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #east171-locked {
  position: absolute;
  left: 528px;
  top: 372px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
