    #east116-occupied {
	position: absolute;
	left: 1035px;
	top: 316px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east122-occupied {
	position: absolute;
	left: 901px;
	top: 408px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east114-occupied {
	position: absolute;
	left: 1041px;
	top: 412px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east112-occupied {
	position: absolute;
	left: 1041px;
	top: 478px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east110-occupied {
	position: absolute;
	left: 1043px;
	top: 556px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east126-occupied {
	position: absolute;
	left: 813px;
	top: 408px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east115-occupied {
	position: absolute;
	left: 306px;
	top: 308px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east113-occupied {
	position: absolute;
	left: 301px;
	top: 387px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east111-occupied {
	position: absolute;
	left: 296px;
	top: 474px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east108-occupied {
	position: absolute;
	left: 1046px;
	top: 635px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east109-occupied {
	position: absolute;
	left: 302px;
	top: 554px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east107-occupied {
	position: absolute;
	left: 305px;
	top: 637px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east105-occupied {
	position: absolute;
	left: 312px;
	top: 718px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east103-occupied {
	position: absolute;
	left: 309px;
	top: 805px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east101-occupied {
	position: absolute;
	left: 305px;
	top: 889px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east106-occupied {
	position: absolute;
	left: 1047px;
	top: 730px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east104-occupied {
	position: absolute;
	left: 1049px;
	top: 805px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east102-occupied {
	position: absolute;
	left: 1049px;
	top: 903px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east124-occupied {
	position: absolute;
	left: 801px;
	top: 274px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east120-occupied {
	position: absolute;
	left: 909px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east128-occupied {
	position: absolute;
	left: 731px;
	top: 274px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east127-occupied {
	position: absolute;
	left: 636px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east123-occupied {
	position: absolute;
	left: 564px;
	top: 274px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east119-occupied {
	position: absolute;
	left: 459px;
	top: 277px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east125-occupied {
	position: absolute;
	left: 557px;
	top: 409px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east121-occupied {
	position: absolute;
	left: 464px;
	top: 412px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east116-locked {
	position: absolute;
	left: 1034px;
	top: 317px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east122-locked {
	position: absolute;
	left: 902px;
	top: 408px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east114-locked {
	position: absolute;
	left: 1040px;
	top: 413px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east112-locked {
	position: absolute;
	left: 1040px;
	top: 479px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east110-locked {
	position: absolute;
	left: 1042px;
	top: 557px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east126-locked {
	position: absolute;
	left: 812px;
	top: 411px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east115-locked {
	position: absolute;
	left: 305px;
	top: 308px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east113-locked {
	position: absolute;
	left: 300px;
	top: 387px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east111-locked {
	position: absolute;
	left: 295px;
	top: 474px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east108-locked {
	position: absolute;
	left: 1045px;
	top: 636px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east109-locked {
	position: absolute;
	left: 301px;
	top: 554px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east107-locked {
	position: absolute;
	left: 304px;
	top: 637px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east105-locked {
	position: absolute;
	left: 311px;
	top: 718px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east103-locked {
	position: absolute;
	left: 308px;
	top: 805px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east101-locked {
	position: absolute;
	left: 304px;
	top: 889px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east106-locked {
	position: absolute;
	left: 1046px;
	top: 731px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east104-locked {
	position: absolute;
	left: 1048px;
	top: 806px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east102-locked {
	position: absolute;
	left: 1048px;
	top: 904px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east124-locked {
	position: absolute;
	left: 801px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east120-locked {
	position: absolute;
	left: 907px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east128-locked {
	position: absolute;
	left: 729px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east127-locked {
	position: absolute;
	left: 633px;
	top: 276px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east123-locked {
	position: absolute;
	left: 562px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east119-locked {
	position: absolute;
	left: 456px;
	top: 279px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east125-locked {
	position: absolute;
	left: 555px;
	top: 410px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east121-locked {
	position: absolute;
	left: 461px;
	top: 414px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
