    #east166-occupied {
	position: absolute;
	left: 1075px;
	top: 273px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east172-occupied {
	position: absolute;
	left: 925px;
	top: 360px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east164-occupied {
	position: absolute;
	left: 1081px;
	top: 346px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east162-occupied {
	position: absolute;
	left: 1081px;
	top: 420px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east160-occupied {
	position: absolute;
	left: 1083px;
	top: 503px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east176-occupied {
	position: absolute;
	left: 826px;
	top: 362px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east165-occupied {
	position: absolute;
	left: 305px;
	top: 263px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east163-occupied {
	position: absolute;
	left: 305px;
	top: 342px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east161-occupied {
	position: absolute;
	left: 305px;
	top: 409px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east158-occupied {
	position: absolute;
	left: 1086px;
	top: 577px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east159-occupied {
	position: absolute;
	left: 305px;
	top: 494px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east157-occupied {
	position: absolute;
	left: 305px;
	top: 583px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east155-occupied {
	position: absolute;
	left: 305px;
	top: 673px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east153-occupied {
	position: absolute;
	left: 305px;
	top: 747px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east151-occupied {
	position: absolute;
	left: 305px;
	top: 829px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east156-occupied {
	position: absolute;
	left: 1087px;
	top: 657px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east154-occupied {
	position: absolute;
	left: 1089px;
	top: 751px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east152-occupied {
	position: absolute;
	left: 1089px;
	top: 835px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east174-occupied {
	position: absolute;
	left: 814px;
	top: 231px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east170-occupied {
	position: absolute;
	left: 926px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east178-occupied {
	position: absolute;
	left: 746px;
	top: 229px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east177-occupied {
	position: absolute;
	left: 647px;
	top: 229px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east173-occupied {
	position: absolute;
	left: 568px;
	top: 231px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east169-occupied {
	position: absolute;
	left: 454px;
	top: 227px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east175-occupied {
	position: absolute;
	left: 564px;
	top: 361px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east171-occupied {
	position: absolute;
	left: 459px;
	top: 361px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east166-locked {
	position: absolute;
	left: 1075px;
	top: 272px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east172-locked {
	position: absolute;
	left: 927px;
	top: 359px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east164-locked {
	position: absolute;
	left: 1081px;
	top: 345px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east162-locked {
	position: absolute;
	left: 1081px;
	top: 419px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east160-locked {
	position: absolute;
	left: 1083px;
	top: 502px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east176-locked {
	position: absolute;
	left: 827px;
	top: 362px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #east165-locked {
	position: absolute;
	left: 306px;
	top: 263px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east163-locked {
	position: absolute;
	left: 306px;
	top: 342px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east161-locked {
	position: absolute;
	left: 306px;
	top: 409px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east158-locked {
	position: absolute;
	left: 1086px;
	top: 576px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east159-locked {
	position: absolute;
	left: 308px;
	top: 494px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east157-locked {
	position: absolute;
	left: 304px;
	top: 585px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east155-locked {
	position: absolute;
	left: 306px;
	top: 673px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east153-locked {
	position: absolute;
	left: 307px;
	top: 749px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east151-locked {
	position: absolute;
	left: 304px;
	top: 829px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east156-locked {
	position: absolute;
	left: 1087px;
	top: 656px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east154-locked {
	position: absolute;
	left: 1089px;
	top: 750px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east152-locked {
	position: absolute;
	left: 1089px;
	top: 835px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #east174-locked {
	position: absolute;
	left: 814px;
	top: 231px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east170-locked {
	position: absolute;
	left: 927px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east178-locked {
	position: absolute;
	left: 748px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east177-locked {
	position: absolute;
	left: 647px;
	top: 228px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east173-locked {
	position: absolute;
	left: 567px;
	top: 231px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east169-locked {
	position: absolute;
	left: 454px;
	top: 227px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east175-locked {
	position: absolute;
	left: 563px;
	top: 361px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #east171-locked {
	position: absolute;
	left: 461px;
	top: 363px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
