body, html
{
	height:100%;
	padding:0px;
}

#header
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 65px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	background-color: #43BDC9;
	
}

div.sidebar
{
	float: left;
	width: 200px;
	height: 100%;
	display: inline;
	background-color: #43BDC9;
}
.map 
{
	float:left;
	max-width:1200px;
	overflow:scroll;
}

.map img
{
	float:left;
}

div.userName
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}

div.priorityNumber
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
	background-color: #43BDC9;
}

div.currentDorm
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-top:25px;
	margin-bottom: 25px;
}

div.sidebarStats
{
	margin-top: 10px;
	padding-left: 10px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24;
	
}

#backButton
{
	margin-top:25px;
	margin-left:25px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	cursor: pointer;
}

#FullStatsButton
{
	margin-top:25px;
	margin-left:25px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	alignment-baseline:central;
	
	cursor: pointer;
}

div.infoHeader
{
	background-color: #43BDC9;
	font-family: Arial, Helvetica, sans-serif;
	width: 190px;
	font-size: 2em;
	text-align: center;
	margin: 5px;
}


ul#tabnav 
{
	text-align: center; 
	font: bold 11px verdana, arial, sans-serif; 
	border-bottom: 1px solid #43bcd9; 
	list-style-type: none;
	padding: 3px 10px 3px 10px;
}	

ul#tabnav li 
{ 
	display: inline;	
}

ul#tabnav li.currentTab
{ 
	border-bottom: 1px solid #fff; 
	background-color: #fff; 
}

ul#tabnav li.currentTab a
{ 
	background-color: #fff; 
	color: #000; 
	position: relative;
	top: 1px;
	padding-top: 4px;
}

ul#tabnav li a 
{ 
	padding: 3px 4px; 
	border: 1px solid #43bcd9;
	background-color: #8EE9FF; 
	color: #666; 
	margin-right: 0px; 
	text-decoration: none;
	border-bottom: none;
}

ul#tabnav a:hover 
{ 
	background: #fff; 
}
