	{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	}

#header
{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:65px;
	background:#139890;
	padding-left:10px;
	padding-right:10px;
	
}

div.sidebar
{
	float: left;
	background: #139890;
	width: 200px;
	height: 100%;
	display:inline;
}
.map 
{
	float:left;
}

div.userName
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 52px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}

div.priorityNumber
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}

div.currentDorm
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	margin-top:25px;
	margin-bottom: 25px;
}

div.sidebarStats
{
	margin-top: 10px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24;
	
}

#backButton
{
	margin-top:25px;
	margin-left:25px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	cursor: pointer;
}

#FullStatsButton
{
	margin-top:25px;
	margin-left:25px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	cursor: pointer;
}
