    #north216-occupied {
	position: absolute;
	left: 1108px;
	top: 226px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north222-occupied {
	position: absolute;
	left: 959px;
	top: 338px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north214-occupied {
	position: absolute;
	left: 1114px;
	top: 322px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north212-occupied {
	position: absolute;
	left: 1119px;
	top: 396px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north210-occupied {
	position: absolute;
	left: 1116px;
	top: 479px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north226-occupied {
	position: absolute;
	left: 835px;
	top: 337px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #north215-occupied {
	position: absolute;
	left: 311px;
	top: 234px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north213-occupied {
	position: absolute;
	left: 306px;
	top: 313px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north211-occupied {
	position: absolute;
	left: 301px;
	top: 400px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north208-occupied {
	position: absolute;
	left: 1119px;
	top: 565px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north209-occupied {
	position: absolute;
	left: 307px;
	top: 480px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north207-occupied {
	position: absolute;
	left: 310px;
	top: 563px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north205-occupied {
	position: absolute;
	left: 317px;
	top: 644px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north203-occupied {
	position: absolute;
	left: 314px;
	top: 739px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north201-occupied {
	position: absolute;
	left: 310px;
	top: 827px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north206-occupied {
	position: absolute;
	left: 1120px;
	top: 653px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north204-occupied {
	position: absolute;
	left: 1122px;
	top: 737px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north202-occupied {
	position: absolute;
	left: 1123px;
	top: 831px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north224-occupied {
	position: absolute;
	left: 844px;
	top: 205px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north220-occupied {
	position: absolute;
	left: 963px;
	top: 204px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north228-occupied {
	position: absolute;
	left: 767px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north227-occupied {
  position: absolute;
  left: 645px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #north223-occupied {
	position: absolute;
	left: 586px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north219-occupied {
	position: absolute;
	left: 458px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north225-occupied {
  position: absolute;
  left: 585px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #north221-occupied {
	position: absolute;
	left: 470px;
	top: 330px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north216-locked {
	position: absolute;
	left: 1108px;
	top: 227px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north222-locked {
	position: absolute;
	left: 961px;
	top: 339px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north214-locked {
	position: absolute;
	left: 1115px;
	top: 322px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north212-locked {
	position: absolute;
	left: 1120px;
	top: 396px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north210-locked {
	position: absolute;
	left: 1115px;
	top: 479px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north226-locked {
	position: absolute;
	left: 837px;
	top: 336px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #north215-locked {
	position: absolute;
	left: 310px;
	top: 233px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north213-locked {
	position: absolute;
	left: 305px;
	top: 312px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north211-locked {
	position: absolute;
	left: 300px;
	top: 399px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north208-locked {
	position: absolute;
	left: 1119px;
	top: 563px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north209-locked {
	position: absolute;
	left: 306px;
	top: 479px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north207-locked {
	position: absolute;
	left: 309px;
	top: 562px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north205-locked {
	position: absolute;
	left: 316px;
	top: 643px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north203-locked {
	position: absolute;
	left: 314px;
	top: 738px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north201-locked {
	position: absolute;
	left: 309px;
	top: 825px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north206-locked {
	position: absolute;
	left: 1121px;
	top: 653px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north204-locked {
	position: absolute;
	left: 1122px;
	top: 737px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north202-locked {
	position: absolute;
	left: 1123px;
	top: 832px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north224-locked {
	position: absolute;
	left: 845px;
	top: 204px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north220-locked {
	position: absolute;
	left: 964px;
	top: 205px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north228-locked {
	position: absolute;
	left: 768px;
	top: 203px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north227-locked {
  position: absolute;
  left: 645px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #north223-locked {
	position: absolute;
	left: 586px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north219-locked {
	position: absolute;
	left: 462px;
	top: 203px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north225-locked {
  position: absolute;
  left: 585px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #north221-locked {
	position: absolute;
	left: 467px;
	top: 329px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
