    #north266-occupied {
	position: absolute;
	left: 1056px;
	top: 316px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north272-occupied {
	position: absolute;
	left: 923px;
	top: 422px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north264-occupied {
	position: absolute;
	left: 1062px;
	top: 412px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north262-occupied {
	position: absolute;
	left: 1062px;
	top: 478px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north260-occupied {
	position: absolute;
	left: 1064px;
	top: 556px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north276-occupied {
	position: absolute;
	left: 818px;
	top: 419px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #north265-occupied {
	position: absolute;
	left: 324px;
	top: 316px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north263-occupied {
	position: absolute;
	left: 319px;
	top: 395px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north261-occupied {
	position: absolute;
	left: 314px;
	top: 482px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north258-occupied {
	position: absolute;
	left: 1067px;
	top: 635px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north259-occupied {
	position: absolute;
	left: 320px;
	top: 562px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north257-occupied {
	position: absolute;
	left: 323px;
	top: 645px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north255-occupied {
	position: absolute;
	left: 330px;
	top: 726px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north253-occupied {
	position: absolute;
	left: 327px;
	top: 813px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north251-occupied {
	position: absolute;
	left: 323px;
	top: 897px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north256-occupied {
	position: absolute;
	left: 1068px;
	top: 730px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north254-occupied {
	position: absolute;
	left: 1070px;
	top: 805px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north252-occupied {
	position: absolute;
	left: 1070px;
	top: 903px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north274-occupied {
	position: absolute;
	left: 818px;
	top: 278px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north270-occupied {
	position: absolute;
	left: 931px;
	top: 280px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north278-occupied {
	position: absolute;
	left: 744px;
	top: 276px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north277-occupied {
	position: absolute;
	left: 640px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north273-occupied {
	position: absolute;
	left: 572px;
	top: 277px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north269-occupied {
	position: absolute;
	left: 465px;
	top: 277px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north275-occupied {
	position: absolute;
	left: 566px;
	top: 402px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north271-occupied {
	position: absolute;
	left: 470px;
	top: 408px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north266-locked {
	position: absolute;
	left: 1055px;
	top: 316px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north272-locked {
	position: absolute;
	left: 922px;
	top: 421px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north264-locked {
	position: absolute;
	left: 1061px;
	top: 412px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north262-locked {
	position: absolute;
	left: 1061px;
	top: 478px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north260-locked {
	position: absolute;
	left: 1063px;
	top: 556px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north276-locked {
	position: absolute;
	left: 818px;
	top: 418px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #north265-locked {
	position: absolute;
	left: 322px;
	top: 317px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north263-locked {
	position: absolute;
	left: 317px;
	top: 396px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north261-locked {
	position: absolute;
	left: 312px;
	top: 483px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north258-locked {
	position: absolute;
	left: 1066px;
	top: 635px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north259-locked {
	position: absolute;
	left: 318px;
	top: 563px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north257-locked {
	position: absolute;
	left: 321px;
	top: 646px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north255-locked {
	position: absolute;
	left: 328px;
	top: 727px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north253-locked {
	position: absolute;
	left: 325px;
	top: 814px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north251-locked {
	position: absolute;
	left: 321px;
	top: 898px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north256-locked {
	position: absolute;
	left: 1067px;
	top: 730px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north254-locked {
	position: absolute;
	left: 1069px;
	top: 805px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north252-locked {
	position: absolute;
	left: 1069px;
	top: 903px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #north274-locked {
	position: absolute;
	left: 817px;
	top: 277px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north270-locked {
	position: absolute;
	left: 929px;
	top: 279px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north278-locked {
	position: absolute;
	left: 744px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north277-locked {
	position: absolute;
	left: 640px;
	top: 275px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north273-locked {
	position: absolute;
	left: 572px;
	top: 276px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north269-locked {
	position: absolute;
	left: 462px;
	top: 276px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north275-locked {
	position: absolute;
	left: 565px;
	top: 401px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #north271-locked {
	position: absolute;
	left: 468px;
	top: 405px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
