#sontag203A-locked {
	position: absolute;
	left: 336px;
	top: 270px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203B-locked {
	position: absolute;
	left: 337px;
	top: 320px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203C-locked {
	position: absolute;
	left: 337px;
	top: 373px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203D-locked {
	position: absolute;
	left: 319px;
	top: 440px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206D-locked {
	position: absolute;
	left: 1055px;
	top: 445px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207D-locked {
	position: absolute;
	left: 1058px;
	top: 689px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208D-locked {
	position: absolute;
	left: 1057px;
	top: 774px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202D-locked {
	position: absolute;
	left: 318px;
	top: 687px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201D-locked {
	position: absolute;
	left: 318px;
	top: 778px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205D-locked {
	position: absolute;
	left: 735px;
	top: 289px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204D-locked {
	position: absolute;
	left: 648px;
	top: 285px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag210D-locked {
	position: absolute;
	left: 727px;
	top: 617px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag209D-locked {
	position: absolute;
	left: 651px;
	top: 618px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204A-locked {
	position: absolute;
	left: 531px;
	top: 288px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205A-locked {
	position: absolute;
	left: 852px;
	top: 282px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206A-locked {
	position: absolute;
	left: 1035px;
	top: 266px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202A-locked {
	position: absolute;
	left: 338px;
	top: 517px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207A-locked {
	position: absolute;
	left: 1041px;
	top: 516px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201A-locked {
	position: absolute;
	left: 334px;
	top: 952px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208A-locked {
	position: absolute;
	left: 1039px;
	top: 954px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206B-locked {
	position: absolute;
	left: 1035px;
	top: 321px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205B-locked {
	position: absolute;
	left: 805px;
	top: 286px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204B-locked {
	position: absolute;
	left: 581px;
	top: 288px;
	width: 45px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202B-locked {
	position: absolute;
	left: 332px;
	top: 572px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207B-locked {
	position: absolute;
	left: 1039px;
	top: 568px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208B-locked {
	position: absolute;
	left: 1037px;
	top: 899px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201B-locked {
	position: absolute;
	left: 338px;
	top: 900px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206C-locked {
	position: absolute;
	left: 1039px;
	top: 375px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202C-locked {
	position: absolute;
	left: 333px;
	top: 618px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207C-locked {
	position: absolute;
	left: 1040px;
	top: 621px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201C-locked {
	position: absolute;
	left: 338px;
	top: 847px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208C-locked {
	position: absolute;
	left: 1038px;
	top: 846px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
#sontag203A-occupied {
	position: absolute;
	left: 338px;
	top: 271px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203B-occupied {
	position: absolute;
	left: 339px;
	top: 320px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203C-occupied {
	position: absolute;
	left: 336px;
	top: 374px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203D-occupied {
	position: absolute;
	left: 318px;
	top: 442px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206D-occupied {
	position: absolute;
	left: 1055px;
	top: 445px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207D-occupied {
	position: absolute;
	left: 1060px;
	top: 690px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208D-occupied {
	position: absolute;
	left: 1057px;
	top: 775px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202D-occupied {
	position: absolute;
	left: 317px;
	top: 687px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201D-occupied {
	position: absolute;
	left: 319px;
	top: 779px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205D-occupied {
	position: absolute;
	left: 737px;
	top: 288px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204D-occupied {
	position: absolute;
	left: 649px;
	top: 284px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag210D-occupied {
	position: absolute;
	left: 725px;
	top: 617px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag209D-occupied {
	position: absolute;
	left: 651px;
	top: 619px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204A-occupied {
	position: absolute;
	left: 530px;
	top: 288px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205A-occupied {
	position: absolute;
	left: 854px;
	top: 282px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206A-occupied {
	position: absolute;
	left: 1036px;
	top: 268px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202A-occupied {
	position: absolute;
	left: 338px;
	top: 517px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207A-occupied {
	position: absolute;
	left: 1042px;
	top: 517px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201A-occupied {
	position: absolute;
	left: 333px;
	top: 954px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208A-occupied {
	position: absolute;
	left: 1039px;
	top: 955px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206B-occupied {
	position: absolute;
	left: 1036px;
	top: 322px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205B-occupied {
	position: absolute;
	left: 805px;
	top: 287px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204B-occupied {
	position: absolute;
	left: 579px;
	top: 289px;
	width: 45px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202B-occupied {
	position: absolute;
	left: 332px;
	top: 572px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207B-occupied {
	position: absolute;
	left: 1040px;
	top: 569px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208B-occupied {
	position: absolute;
	left: 1038px;
	top: 899px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201B-occupied {
	position: absolute;
	left: 337px;
	top: 902px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206C-occupied {
	position: absolute;
	left: 1040px;
	top: 376px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202C-occupied {
	position: absolute;
	left: 335px;
	top: 617px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207C-occupied {
	position: absolute;
	left: 1041px;
	top: 622px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201C-occupied {
	position: absolute;
	left: 339px;
	top: 851px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208C-occupied {
	position: absolute;
	left: 1037px;
	top: 847px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
