#sontag203A-locked {
	position: absolute;
	left: 332px;
	top: 200px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203B-locked {
	position: absolute;
	left: 333px;
	top: 250px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203C-locked {
	position: absolute;
	left: 333px;
	top: 303px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203D-locked {
	position: absolute;
	left: 315px;
	top: 370px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206D-locked {
	position: absolute;
	left: 1051px;
	top: 375px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207D-locked {
	position: absolute;
	left: 1054px;
	top: 619px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208D-locked {
	position: absolute;
	left: 1053px;
	top: 704px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202D-locked {
	position: absolute;
	left: 314px;
	top: 617px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201D-locked {
	position: absolute;
	left: 314px;
	top: 708px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205D-locked {
	position: absolute;
	left: 731px;
	top: 219px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204D-locked {
	position: absolute;
	left: 644px;
	top: 215px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag210D-locked {
	position: absolute;
	left: 723px;
	top: 547px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag209D-locked {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag204A-locked {
	position: absolute;
	left: 527px;
	top: 218px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205A-locked {
	position: absolute;
	left: 848px;
	top: 212px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206A-locked {
	position: absolute;
	left: 1031px;
	top: 196px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202A-locked {
	position: absolute;
	left: 334px;
	top: 447px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207A-locked {
	position: absolute;
	left: 1037px;
	top: 446px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201A-locked {
	position: absolute;
	left: 330px;
	top: 882px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208A-locked {
	position: absolute;
	left: 1035px;
	top: 884px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206B-locked {
	position: absolute;
	left: 1031px;
	top: 251px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205B-locked {
	position: absolute;
	left: 801px;
	top: 216px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204B-locked {
	position: absolute;
	left: 577px;
	top: 218px;
	width: 45px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202B-locked {
	position: absolute;
	left: 328px;
	top: 502px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207B-locked {
	position: absolute;
	left: 1035px;
	top: 498px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208B-locked {
	position: absolute;
	left: 1033px;
	top: 829px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201B-locked {
	position: absolute;
	left: 334px;
	top: 830px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206C-locked {
	position: absolute;
	left: 1035px;
	top: 305px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202C-locked {
	position: absolute;
	left: 329px;
	top: 548px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207C-locked {
	position: absolute;
	left: 1036px;
	top: 551px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201C-locked {
	position: absolute;
	left: 334px;
	top: 777px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208C-locked {
	position: absolute;
	left: 1034px;
	top: 776px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
#sontag203A-occupied {
	position: absolute;
	left: 334px;
	top: 200px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203B-occupied {
	position: absolute;
	left: 335px;
	top: 249px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203C-occupied {
	position: absolute;
	left: 332px;
	top: 303px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag203D-occupied {
	position: absolute;
	left: 314px;
	top: 371px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206D-occupied {
	position: absolute;
	left: 1051px;
	top: 374px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207D-occupied {
	position: absolute;
	left: 1056px;
	top: 619px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208D-occupied {
	position: absolute;
	left: 1053px;
	top: 704px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202D-occupied {
	position: absolute;
	left: 313px;
	top: 616px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201D-occupied {
	position: absolute;
	left: 315px;
	top: 708px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205D-occupied {
	position: absolute;
	left: 733px;
	top: 217px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204D-occupied {
	position: absolute;
	left: 645px;
	top: 213px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag210D-occupied {
	position: absolute;
	left: 721px;
	top: 546px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag209D-occupied {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag204A-occupied {
	position: absolute;
	left: 526px;
	top: 217px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205A-occupied {
	position: absolute;
	left: 850px;
	top: 211px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206A-occupied {
	position: absolute;
	left: 1032px;
	top: 197px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202A-occupied {
	position: absolute;
	left: 334px;
	top: 446px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207A-occupied {
	position: absolute;
	left: 1038px;
	top: 446px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201A-occupied {
	position: absolute;
	left: 329px;
	top: 883px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208A-occupied {
	position: absolute;
	left: 1035px;
	top: 884px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206B-occupied {
	position: absolute;
	left: 1032px;
	top: 251px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag205B-occupied {
	position: absolute;
	left: 801px;
	top: 216px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag204B-occupied {
	position: absolute;
	left: 575px;
	top: 218px;
	width: 45px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202B-occupied {
	position: absolute;
	left: 328px;
	top: 501px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207B-occupied {
	position: absolute;
	left: 1036px;
	top: 498px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208B-occupied {
	position: absolute;
	left: 1034px;
	top: 828px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201B-occupied {
	position: absolute;
	left: 333px;
	top: 831px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag206C-occupied {
	position: absolute;
	left: 1036px;
	top: 305px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag202C-occupied {
	position: absolute;
	left: 331px;
	top: 546px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag207C-occupied {
	position: absolute;
	left: 1037px;
	top: 551px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag201C-occupied {
	position: absolute;
	left: 335px;
	top: 780px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag208C-occupied {
	position: absolute;
	left: 1033px;
	top: 776px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
