#sontag203A-locked {
	position: absolute;
	left: 410px;
	top: 240px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203B-locked {
	position: absolute;
	left: 410px;
	top: 286px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203C-locked {
	position: absolute;
	left: 410px;
	top: 331px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203D-locked {
	position: absolute;
	left: 396px;
	top: 391px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206D-locked {
	position: absolute;
	left: 980px;
	top: 380px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207D-locked {
	position: absolute;
	left: 980px;
	top: 600px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208D-locked {
	position: absolute;
	left: 980px;
	top: 666px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202D-locked {
	position: absolute;
	left: 395px;
	top: 610px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201D-locked {
	position: absolute;
	left: 400px;
	top: 682px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag205D-locked {
  position: absolute;
  left: 711px;
  top: 255px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag204D-locked {
  position: absolute;
  left: 646px;
  top: 255px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag210D-locked {
  position: absolute;
  left: 712px;
  top: 547px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag209D-locked {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag204A-locked {
  position: absolute;
  left: 559px;
  top: 252px;
  width: 47px;
  height: 41px;
  z-index: 1;
}
    #sontag205A-locked {
	position: absolute;
	left: 813px;
	top: 247px;
	width: 44px;
	height: 41px;
	z-index: 1;
}
    #sontag206A-locked {
	position: absolute;
	left: 960px;
	top: 230px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202A-locked {
	position: absolute;
	left: 410px;
	top: 450px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207A-locked {
	position: absolute;
	left: 966px;
	top: 445px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201A-locked {
	position: absolute;
	left: 410px;
	top: 825px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208A-locked {
	position: absolute;
	left: 970px;
	top: 814px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206B-locked {
	position: absolute;
	left: 963px;
	top: 277px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag205B-locked {
	position: absolute;
	left: 773px;
	top: 243px;
	width: 47px;
	height: 41px;
	z-index: 1;
}
    #sontag204B-locked {
  position: absolute;
  left: 598px;
  top: 252px;
  width: 45px;
  height: 41px;
  z-index: 1;
}
    #sontag202B-locked {
	position: absolute;
	left: 410px;
	top: 495px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207B-locked {
	position: absolute;
	left: 965px;
	top: 490px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208B-locked {
	position: absolute;
	left: 970px;
	top: 770px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201B-locked {
	position: absolute;
	left: 410px;
	top: 780px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206C-locked {
	position: absolute;
	left: 965px;
	top: 323px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202C-locked {
	position: absolute;
	left: 414px;
	top: 540px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207C-locked {
	position: absolute;
	left: 965px;
	top: 536px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201C-locked {
	position: absolute;
	left: 413px;
	top: 734px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208C-locked {
	position: absolute;
	left: 966px;
	top: 725px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
#sontag203A-occupied {
	position: absolute;
	left: 410px;
	top: 240px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203B-occupied {
	position: absolute;
	left: 410px;
	top: 286px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203C-occupied {
	position: absolute;
	left: 410px;
	top: 331px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag203D-occupied {
	position: absolute;
	left: 396px;
	top: 391px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206D-occupied {
	position: absolute;
	left: 980px;
	top: 380px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207D-occupied {
	position: absolute;
	left: 980px;
	top: 600px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208D-occupied {
	position: absolute;
	left: 980px;
	top: 666px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202D-occupied {
	position: absolute;
	left: 395px;
	top: 610px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201D-occupied {
	position: absolute;
	left: 400px;
	top: 682px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag205D-occupied {
  position: absolute;
  left: 711px;
  top: 255px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag204D-occupied {
  position: absolute;
  left: 646px;
  top: 255px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag210D-occupied {
  position: absolute;
  left: 712px;
  top: 547px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag209D-occupied {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
}
    #sontag204A-occupied {
  position: absolute;
  left: 559px;
  top: 252px;
  width: 47px;
  height: 41px;
  z-index: 1;
}
    #sontag205A-occupied {
	position: absolute;
	left: 813px;
	top: 247px;
	width: 44px;
	height: 41px;
	z-index: 1;
}
    #sontag206A-occupied {
	position: absolute;
	left: 960px;
	top: 230px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202A-occupied {
	position: absolute;
	left: 410px;
	top: 450px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207A-occupied {
	position: absolute;
	left: 966px;
	top: 445px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201A-occupied {
	position: absolute;
	left: 410px;
	top: 825px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208A-occupied {
	position: absolute;
	left: 970px;
	top: 814px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206B-occupied {
	position: absolute;
	left: 963px;
	top: 277px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag205B-occupied {
	position: absolute;
	left: 773px;
	top: 243px;
	width: 47px;
	height: 41px;
	z-index: 1;
}
    #sontag204B-occupied {
  position: absolute;
  left: 598px;
  top: 252px;
  width: 45px;
  height: 41px;
  z-index: 1;
}
    #sontag202B-occupied {
	position: absolute;
	left: 410px;
	top: 495px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207B-occupied {
	position: absolute;
	left: 965px;
	top: 490px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208B-occupied {
	position: absolute;
	left: 970px;
	top: 770px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201B-occupied {
	position: absolute;
	left: 410px;
	top: 780px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag206C-occupied {
	position: absolute;
	left: 965px;
	top: 323px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag202C-occupied {
	position: absolute;
	left: 414px;
	top: 540px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag207C-occupied {
	position: absolute;
	left: 965px;
	top: 536px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag201C-occupied {
	position: absolute;
	left: 413px;
	top: 734px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
    #sontag208C-occupied {
	position: absolute;
	left: 966px;
	top: 725px;
	width: 54px;
	height: 41px;
	z-index: 1;
}
