#sontag103A-locked {
	position: absolute;
	left: 324px;
	top: 207px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103B-locked {
	position: absolute;
	left: 325px;
	top: 261px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103C-locked {
	position: absolute;
	left: 328px;
	top: 306px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103D-locked {
	position: absolute;
	left: 316px;
	top: 366px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106D-locked {
	position: absolute;
	left: 1050px;
	top: 378px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107D-locked {
	position: absolute;
	left: 1050px;
	top: 623px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108D-locked {
	position: absolute;
	left: 1046px;
	top: 709px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102D-locked {
	position: absolute;
	left: 311px;
	top: 623px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101D-locked {
	position: absolute;
	left: 307px;
	top: 691px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag105D-locked {
	position: absolute;
	left: 719px;
	top: 218px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag104D-locked {
	position: absolute;
	left: 628px;
	top: 221px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag110D-locked {
  position: absolute;
  left: 712px;
  top: 547px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag109D-locked {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag104A-locked {
  position: absolute;
  left: 556px;
  top: 252px;
  width: 47px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag105A-locked {
	position: absolute;
	left: 850px;
	top: 223px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106A-locked {
	position: absolute;
	left: 1029px;
	top: 206px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102A-locked {
	position: absolute;
	left: 321px;
	top: 452px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107A-locked {
	position: absolute;
	left: 1031px;
	top: 450px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101A-locked {
	position: absolute;
	left: 337px;
	top: 884px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108A-locked {
	position: absolute;
	left: 1037px;
	top: 876px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106B-locked {
	position: absolute;
	left: 1034px;
	top: 256px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag105B-locked {
	position: absolute;
	left: 796px;
	top: 218px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag104B-locked {
  position: absolute;
  left: 593px;
  top: 252px;
  width: 45px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag102B-locked {
	position: absolute;
	left: 322px;
	top: 497px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107B-locked {
	position: absolute;
	left: 1032px;
	top: 501px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108B-locked {
	position: absolute;
	left: 1037px;
	top: 827px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101B-locked {
	position: absolute;
	left: 329px;
	top: 836px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106C-locked {
	position: absolute;
	left: 1041px;
	top: 302px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102C-locked {
	position: absolute;
	left: 326px;
	top: 546px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107C-locked {
	position: absolute;
	left: 1034px;
	top: 554px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101C-locked {
	position: absolute;
	left: 333px;
	top: 786px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108C-locked {
	position: absolute;
	left: 1033px;
	top: 777px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
#sontag103A-occupied {
	position: absolute;
	left: 324px;
	top: 206px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103B-occupied {
	position: absolute;
	left: 325px;
	top: 259px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103C-occupied {
	position: absolute;
	left: 328px;
	top: 304px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag103D-occupied {
	position: absolute;
	left: 316px;
	top: 364px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106D-occupied {
	position: absolute;
	left: 1048px;
	top: 378px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107D-occupied {
	position: absolute;
	left: 1049px;
	top: 623px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108D-occupied {
	position: absolute;
	left: 1046px;
	top: 709px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102D-occupied {
	position: absolute;
	left: 310px;
	top: 619px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101D-occupied {
	position: absolute;
	left: 306px;
	top: 692px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag105D-occupied {
	position: absolute;
	left: 716px;
	top: 220px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag104D-occupied {
	position: absolute;
	left: 629px;
	top: 222px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag110D-occupied {
  position: absolute;
  left: 712px;
  top: 547px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag109D-occupied {
  position: absolute;
  left: 647px;
  top: 548px;
  width: 54px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag104A-occupied {
  position: absolute;
  left: 556px;
  top: 252px;
  width: 47px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag105A-occupied {
	position: absolute;
	left: 850px;
	top: 222px;
	width: 44px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106A-occupied {
	position: absolute;
	left: 1027px;
	top: 207px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102A-occupied {
	position: absolute;
	left: 324px;
	top: 453px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107A-occupied {
	position: absolute;
	left: 1030px;
	top: 452px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101A-occupied {
	position: absolute;
	left: 336px;
	top: 883px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108A-occupied {
	position: absolute;
	left: 1038px;
	top: 877px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106B-occupied {
	position: absolute;
	left: 1032px;
	top: 257px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag105B-occupied {
	position: absolute;
	left: 795px;
	top: 222px;
	width: 47px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag104B-occupied {
  position: absolute;
  left: 593px;
  top: 252px;
  width: 45px;
  height: 41px;
  z-index: 1;
    cursor: pointer
}
    #sontag102B-occupied {
	position: absolute;
	left: 325px;
	top: 498px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107B-occupied {
	position: absolute;
	left: 1032px;
	top: 499px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108B-occupied {
	position: absolute;
	left: 1038px;
	top: 828px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101B-occupied {
	position: absolute;
	left: 328px;
	top: 835px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag106C-occupied {
	position: absolute;
	left: 1039px;
	top: 303px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag102C-occupied {
	position: absolute;
	left: 329px;
	top: 547px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag107C-occupied {
	position: absolute;
	left: 1034px;
	top: 554px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag101C-occupied {
	position: absolute;
	left: 332px;
	top: 785px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #sontag108C-occupied {
	position: absolute;
	left: 1034px;
	top: 778px;
	width: 54px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
