    #south304A-occupied {
	position: absolute;
	left: 1002px;
	top: 482px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302B-occupied {
	position: absolute;
	left: 1006px;
	top: 609px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south304C-occupied {
	position: absolute;
	left: 953px;
	top: 559px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south304B-occupied {
	position: absolute;
	left: 1005px;
	top: 548px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302A-occupied {
	position: absolute;
	left: 946px;
	top: 606px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302C-occupied {
	position: absolute;
	left: 1005px;
	top: 676px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302D-occupied {
	position: absolute;
	left: 996px;
	top: 730px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south301A-occupied {
  position: absolute;
  left: 459px;
  top: 604px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301B-occupied {
  position: absolute;
  left: 402px;
  top: 613px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301C-occupied {
	position: absolute;
	left: 402px;
	top: 693px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south301D-occupied {
	position: absolute;
	left: 414px;
	top: 739px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south307B-occupied {
  position: absolute;
  left: 398px;
  top: 234px;
  width: 46px;
  height: 44px;
  z-index: 3;
}#south363-occupied {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south361-occupied {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south307D-occupied {
	position: absolute;
	left: 454px;
	top: 296px;
	width: 43px;
	height: 40px;
	z-index: 1;
}
    #south305A-occupied {
	position: absolute;
	left: 453px;
	top: 340px;
	width: 43px;
	height: 41px;
	z-index: 1;
}
    #south307C-occupied {
	position: absolute;
	left: 400px;
	top: 287px;
	width: 44px;
	height: 45px;
	z-index: 1;
}
    #south309-occupied {
  position: absolute;
  left: 577px;
  top: 348px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south308B-occupied {
	position: absolute;
	left: 992px;
	top: 212px;
	width: 44px;
	height: 45px;
	z-index: 1;
}
    #south413-occupied {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south365-occupied {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south305C-occupied {
  position: absolute;
  left: 399px;
  top: 422px;
  width: 45px;
  height: 46px;
  z-index: 1;
}
    #south305B-occupied {
  position: absolute;
  left: 399px;
  top: 357px;
  width: 41px;
  height: 43px;
  z-index: 1;
}
    #south306A-occupied {
	position: absolute;
	left: 948px;
	top: 339px;
	width: 40px;
	height: 39px;
	z-index: 1;
}
    #south306B-occupied {
	position: absolute;
	left: 1004px;
	top: 348px;
	width: 41px;
	height: 38px;
	z-index: 1;
}
    #south306C-occupied {
	position: absolute;
	left: 1003px;
	top: 419px;
	width: 41px;
	height: 39px;
	z-index: 1;
}
    #south303A-occupied {
  position: absolute;
  left: 401px;
  top: 485px;
  width: 40px;
  height: 39px;
  z-index: 1;
}
    #south303B-occupied {
  position: absolute;
  left: 404px;
  top: 558px;
  width: 35px;
  height: 36px;
  z-index: 1;
}
    #south303C-occupied {
  position: absolute;
  left: 461px;
  top: 564px;
  width: 37px;
  height: 37px;
  z-index: 1;
}
    #south309-occupied {
  position: absolute;
  left: 586px;
  top: 221px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south307A-occupied {
	position: absolute;
	left: 406px;
	top: 165px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south311-occupied {
  position: absolute;
  left: 667px;
  top: 220px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south312-occupied {
  position: absolute;
  left: 723px;
  top: 213px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south308A-occupied {
  position: absolute;
  left: 992px;
  top: 155px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south310-occupied {
  position: absolute;
  left: 810px;
  top: 215px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south308C-occupied {
	position: absolute;
	left: 1004px;
	top: 278px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south308D-occupied {
	position: absolute;
	left: 943px;
	top: 291px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south363-locked {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south361-locked {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south307D-locked {
	position: absolute;
	left: 455px;
	top: 297px;
	width: 43px;
	height: 40px;
	z-index: 1;
}
    #south305A-locked {
	position: absolute;
	left: 455px;
	top: 341px;
	width: 43px;
	height: 41px;
	z-index: 1;
}
    #south307C-locked {
	position: absolute;
	left: 398px;
	top: 286px;
	width: 44px;
	height: 45px;
	z-index: 1;
}
    #south309-locked {
  position: absolute;
  left: 577px;
  top: 348px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south308B-locked {
	position: absolute;
	left: 994px;
	top: 213px;
	width: 44px;
	height: 45px;
	z-index: 1;
}
    #south413-locked {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south365-locked {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south305C-locked {
  position: absolute;
  left: 399px;
  top: 422px;
  width: 45px;
  height: 46px;
  z-index: 1;
}
    #south305B-locked {
  position: absolute;
  left: 399px;
  top: 357px;
  width: 41px;
  height: 43px;
  z-index: 1;
}
    #south306A-locked {
	position: absolute;
	left: 951px;
	top: 338px;
	width: 40px;
	height: 39px;
	z-index: 1;
}
    #south405-locked {
  position: absolute;
  left: 912px;
  top: 600px;
  width: 53px;
  height: 54px;
  z-index: 1;
}
    #south306B-locked {
	position: absolute;
	left: 1004px;
	top: 347px;
	width: 41px;
	height: 38px;
	z-index: 1;
}
    #south306C-locked {
	position: absolute;
	left: 1005px;
	top: 418px;
	width: 41px;
	height: 39px;
	z-index: 1;
}
    #south303A-locked {
  position: absolute;
  left: 401px;
  top: 485px;
  width: 40px;
  height: 39px;
  z-index: 1;
}
    #south303B-locked {
  position: absolute;
  left: 404px;
  top: 558px;
  width: 35px;
  height: 36px;
  z-index: 1;
}
    #south303C-locked {
  position: absolute;
  left: 460px;
  top: 563px;
  width: 37px;
  height: 37px;
  z-index: 1;
}
    #south309-locked {
  position: absolute;
  left: 586px;
  top: 222px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south307A-locked {
	position: absolute;
	left: 405px;
	top: 163px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south311-locked {
  position: absolute;
  left: 668px;
  top: 218px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south312-locked {
  position: absolute;
  left: 722px;
  top: 212px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south308A-locked {
	position: absolute;
	left: 993px;
	top: 156px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south310-locked {
  position: absolute;
  left: 809px;
  top: 217px;
  width: 42px;
  height: 42px;
  z-index: 1;
}
    #south308C-locked {
	position: absolute;
	left: 1005px;
	top: 277px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #south308D-locked {
	position: absolute;
	left: 943px;
	top: 289px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
#south304A-locked {
	position: absolute;
	left: 1004px;
	top: 482px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302B-locked {
  position: absolute;
  left: 981px;
  top: 604px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south304C-locked {
  position: absolute;
  left: 925px;
  top: 556px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south304B-locked { position: absolute;
  left: 983px;
  top: 550px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south302A-locked {
  position: absolute;
  left: 923px;
  top: 598px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south302C-locked {
  position: absolute;
  left: 982px;
  top: 665px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south302D-locked {
  position: absolute;
  left: 971px;
  top: 717px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301A-locked {
  position: absolute;
  left: 459px;
  top: 604px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301B-locked {
  position: absolute;
  left: 402px;
  top: 613px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301C-locked {
  position: absolute;
  left: 402px;
  top: 675px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301D-locked {
  position: absolute;
  left: 416px;
  top: 724px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south307B-locked {
  position: absolute;
  left: 398px;
  top: 234px;
  width: 46px;
  height: 44px;
  z-index: 3;
#south304A-locked {
  position: absolute;
  left: 980px;
  top: 482px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south302B-locked {
	position: absolute;
	left: 1006px;
	top: 611px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south304C-locked {
	position: absolute;
	left: 954px;
	top: 558px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south304B-locked {
	position: absolute;
	left: 1006px;
	top: 548px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302A-locked {
	position: absolute;
	left: 950px;
	top: 606px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302C-locked {
	position: absolute;
	left: 1008px;
	top: 676px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south302D-locked {
	position: absolute;
	left: 998px;
	top: 730px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south301A-locked {
  position: absolute;
  left: 459px;
  top: 604px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301B-locked {
  position: absolute;
  left: 402px;
  top: 613px;
  width: 38px;
  height: 36px;
  z-index: 2;
}
    #south301C-locked {
	position: absolute;
	left: 402px;
	top: 692px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south301D-locked {
	position: absolute;
	left: 417px;
	top: 739px;
	width: 38px;
	height: 36px;
	z-index: 2;
}
    #south307B-locked {
  position: absolute;
  left: 398px;
  top: 234px;
  width: 46px;
  height: 44px;
  z-index: 3;
}
