    #south354A-occupied {
	position: absolute;
	left: 1139px;
	top: 615px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352B-occupied {
	position: absolute;
	left: 1145px;
	top: 774px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south354C-occupied {
	position: absolute;
	left: 1061px;
	top: 708px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south354B-occupied {
	position: absolute;
	left: 1136px;
	top: 701px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352A-occupied {
	position: absolute;
	left: 1059px;
	top: 768px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352C-occupied {
	position: absolute;
	left: 1138px;
	top: 849px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352D-occupied {
	position: absolute;
	left: 1127px;
	top: 909px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351A-occupied {
	position: absolute;
	left: 333px;
	top: 757px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351B-occupied {
	position: absolute;
	left: 251px;
	top: 770px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351C-occupied {
	position: absolute;
	left: 250px;
	top: 841px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351D-occupied {
	position: absolute;
	left: 263px;
	top: 911px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south357B-occupied {
	position: absolute;
	left: 245px;
	top: 297px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-occupied {
	position: absolute;
	left: 723px;
	top: 455px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south361-occupied {
	position: absolute;
	left: 660px;
	top: 453px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south357D-occupied {
	position: absolute;
	left: 325px;
	top: 389px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south355A-occupied {
	position: absolute;
	left: 326px;
	top: 439px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south357C-occupied {
	position: absolute;
	left: 246px;
	top: 374px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south358B-occupied {
	position: absolute;
	left: 1140px;
	top: 297px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-occupied {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-occupied {
	position: absolute;
	left: 844px;
	top: 445px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
#south359-occupied {
	position: absolute;
	left: 515px;
	top: 454px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south355C-occupied {
	position: absolute;
	left: 246px;
	top: 533px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south355B-occupied {
	position: absolute;
	left: 248px;
	top: 450px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south356A-occupied {
	position: absolute;
	left: 1059px;
	top: 442px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south356B-occupied {
	position: absolute;
	left: 1140px;
	top: 458px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south356C-occupied {
	position: absolute;
	left: 1138px;
	top: 540px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south353A-occupied {
	position: absolute;
	left: 248px;
	top: 609px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south353B-occupied {
	position: absolute;
	left: 249px;
	top: 694px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south353C-occupied {
	position: absolute;
	left: 332px;
	top: 709px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south360-occupied {
	position: absolute;
	left: 528px;
	top: 305px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south357A-occupied {
	position: absolute;
	left: 259px;
	top: 233px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south362-occupied {
	position: absolute;
	left: 655px;
	top: 306px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south364-occupied {
	position: absolute;
	left: 731px;
	top: 304px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358A-occupied {
	position: absolute;
	left: 1127px;
	top: 234px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south366-occupied {
	position: absolute;
	left: 857px;
	top: 304px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358C-occupied {
	position: absolute;
	left: 1138px;
	top: 377px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358D-occupied {
	position: absolute;
	left: 1058px;
	top: 389px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south354A-locked {
	position: absolute;
	left: 1134px;
	top: 616px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352B-locked {
	position: absolute;
	left: 1143px;
	top: 774px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south354C-locked {
	position: absolute;
	left: 1057px;
	top: 708px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south354B-locked {
	position: absolute;
	left: 1132px;
	top: 701px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352A-locked {
	position: absolute;
	left: 1055px;
	top: 768px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352C-locked {
	position: absolute;
	left: 1135px;
	top: 847px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south352D-locked {
	position: absolute;
	left: 1126px;
	top: 909px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351A-locked {
	position: absolute;
	left: 329px;
	top: 758px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351B-locked {
	position: absolute;
	left: 249px;
	top: 769px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351C-locked {
	position: absolute;
	left: 248px;
	top: 843px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south351D-locked {
	position: absolute;
	left: 259px;
	top: 911px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south357B-locked {
	position: absolute;
	left: 241px;
	top: 297px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-locked {
	position: absolute;
	left: 719px;
	top: 453px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south361-locked {
	position: absolute;
	left: 655px;
	top: 454px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south357D-locked {
	position: absolute;
	left: 321px;
	top: 388px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south355A-locked {
	position: absolute;
	left: 325px;
	top: 439px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south357C-locked {
	position: absolute;
	left: 243px;
	top: 374px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south358B-locked {
	position: absolute;
	left: 1137px;
	top: 296px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-locked {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-locked {
	position: absolute;
	left: 841px;
	top: 447px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
#south359-locked {
	position: absolute;
	left: 511px;
	top: 456px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #south355C-locked {
	position: absolute;
	left: 243px;
	top: 533px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south355B-locked {
	position: absolute;
	left: 244px;
	top: 451px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south356A-locked {
	position: absolute;
	left: 1055px;
	top: 441px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south356B-locked {
	position: absolute;
	left: 1137px;
	top: 459px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south356C-locked {
	position: absolute;
	left: 1134px;
	top: 540px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south353A-locked {
	position: absolute;
	left: 245px;
	top: 608px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south353B-locked {
	position: absolute;
	left: 245px;
	top: 695px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south353C-locked {
	position: absolute;
	left: 328px;
	top: 710px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south360-locked {
	position: absolute;
	left: 524px;
	top: 304px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south357A-locked {
	position: absolute;
	left: 255px;
	top: 234px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south362-locked {
	position: absolute;
	left: 652px;
	top: 305px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south364-locked {
	position: absolute;
	left: 726px;
	top: 303px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358A-locked {
	position: absolute;
	left: 1124px;
	top: 234px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south366-locked {
	position: absolute;
	left: 854px;
	top: 305px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358C-locked {
	position: absolute;
	left: 1135px;
	top: 377px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south358D-locked {
	position: absolute;
	left: 1055px;
	top: 389px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
