    #south304A-occupied {
	position: absolute;
	left: 1124px;
	top: 624px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302B-occupied {
	position: absolute;
	left: 1126px;
	top: 779px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304C-occupied {
	position: absolute;
	left: 1046px;
	top: 718px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304B-occupied {
	position: absolute;
	left: 1126px;
	top: 708px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302A-occupied {
	position: absolute;
	left: 1044px;
	top: 771px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302C-occupied {
	position: absolute;
	left: 1124px;
	top: 854px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302D-occupied {
	position: absolute;
	left: 1107px;
	top: 923px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301A-occupied {
	position: absolute;
	left: 342px;
	top: 768px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301B-occupied {
	position: absolute;
	left: 264px;
	top: 773px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301C-occupied {
	position: absolute;
	left: 266px;
	top: 854px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301D-occupied {
	position: absolute;
	left: 275px;
	top: 922px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south307B-occupied {
	position: absolute;
	left: 260px;
	top: 305px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-occupied {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south361-occupied {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south307D-occupied {
	position: absolute;
	left: 343px;
	top: 396px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south305A-occupied {
	position: absolute;
	left: 342px;
	top: 450px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south307C-occupied {
	position: absolute;
	left: 264px;
	top: 383px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south308B-occupied {
	position: absolute;
	left: 1120px;
	top: 307px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-occupied {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-occupied {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south305C-occupied {
	position: absolute;
	left: 258px;
	top: 540px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south305B-occupied {
	position: absolute;
	left: 263px;
	top: 460px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south306A-occupied {
	position: absolute;
	left: 1051px;
	top: 451px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south306B-occupied {
	position: absolute;
	left: 1122px;
	top: 467px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south306C-occupied {
	position: absolute;
	left: 1122px;
	top: 544px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303A-occupied {
	position: absolute;
	left: 262px;
	top: 619px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303B-occupied {
	position: absolute;
	left: 262px;
	top: 700px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south303C-occupied {
	position: absolute;
	left: 343px;
	top: 717px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south309-occupied {
	position: absolute;
	left: 536px;
	top: 314px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south307A-occupied {
	position: absolute;
	left: 274px;
	top: 242px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south311-occupied {
	position: absolute;
	left: 654px;
	top: 310px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south312-occupied {
	position: absolute;
	left: 729px;
	top: 314px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308A-occupied {
	position: absolute;
	left: 1108px;
	top: 242px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south310-occupied {
	position: absolute;
	left: 849px;
	top: 313px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308C-occupied {
	position: absolute;
	left: 1120px;
	top: 394px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308D-occupied {
	position: absolute;
	left: 1050px;
	top: 401px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south304A-locked {
	position: absolute;
	left: 1123px;
	top: 624px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302B-locked {
	position: absolute;
	left: 1126px;
	top: 780px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304C-locked {
	position: absolute;
	left: 1046px;
	top: 717px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304B-locked {
	position: absolute;
	left: 1124px;
	top: 706px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302A-locked {
	position: absolute;
	left: 1044px;
	top: 769px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302C-locked {
	position: absolute;
	left: 1123px;
	top: 854px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302D-locked {
	position: absolute;
	left: 1106px;
	top: 922px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301A-locked {
	position: absolute;
	left: 340px;
	top: 768px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301B-locked {
	position: absolute;
	left: 261px;
	top: 774px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301C-locked {
	position: absolute;
	left: 266px;
	top: 856px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301D-locked {
	position: absolute;
	left: 273px;
	top: 922px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south307B-locked {
	position: absolute;
	left: 259px;
	top: 306px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-locked {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south361-locked {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south307D-locked {
	position: absolute;
	left: 342px;
	top: 398px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south305A-locked {
	position: absolute;
	left: 341px;
	top: 451px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south307C-locked {
	position: absolute;
	left: 263px;
	top: 382px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south308B-locked {
	position: absolute;
	left: 1119px;
	top: 309px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-locked {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-locked {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south305C-locked {
	position: absolute;
	left: 255px;
	top: 539px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south305B-locked {
	position: absolute;
	left: 262px;
	top: 459px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south306A-locked {
	position: absolute;
	left: 1048px;
	top: 451px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south306B-locked {
	position: absolute;
	left: 1121px;
	top: 467px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south306C-locked {
	position: absolute;
	left: 1122px;
	top: 543px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303A-locked {
	position: absolute;
	left: 260px;
	top: 618px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303B-locked {
	position: absolute;
	left: 262px;
	top: 700px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south303C-locked {
	position: absolute;
	left: 341px;
	top: 717px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south309-locked {
	position: absolute;
	left: 534px;
	top: 315px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south307A-locked {
	position: absolute;
	left: 272px;
	top: 242px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south311-locked {
	position: absolute;
	left: 651px;
	top: 312px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south312-locked {
	position: absolute;
	left: 727px;
	top: 316px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308A-locked {
	position: absolute;
	left: 1106px;
	top: 241px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south310-locked {
	position: absolute;
	left: 847px;
	top: 315px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308C-locked {
	position: absolute;
	left: 1119px;
	top: 394px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308D-locked {
	position: absolute;
	left: 1049px;
	top: 401px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
