    #south304A-occupied {
	position: absolute;
	left: 1121px;
	top: 546px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302B-occupied {
	position: absolute;
	left: 1123px;
	top: 701px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304C-occupied {
	position: absolute;
	left: 1043px;
	top: 640px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304B-occupied {
	position: absolute;
	left: 1123px;
	top: 630px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302A-occupied {
	position: absolute;
	left: 1041px;
	top: 693px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302C-occupied {
	position: absolute;
	left: 1121px;
	top: 776px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302D-occupied {
	position: absolute;
	left: 1104px;
	top: 845px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301A-occupied {
	position: absolute;
	left: 339px;
	top: 690px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301B-occupied {
	position: absolute;
	left: 261px;
	top: 695px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301C-occupied {
	position: absolute;
	left: 263px;
	top: 776px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301D-occupied {
	position: absolute;
	left: 272px;
	top: 844px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south307B-occupied {
	position: absolute;
	left: 257px;
	top: 227px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-occupied {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south361-occupied {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south307D-occupied {
	position: absolute;
	left: 340px;
	top: 318px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south305A-occupied {
	position: absolute;
	left: 339px;
	top: 372px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south307C-occupied {
	position: absolute;
	left: 261px;
	top: 305px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south308B-occupied {
	position: absolute;
	left: 1117px;
	top: 229px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-occupied {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-occupied {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south305C-occupied {
	position: absolute;
	left: 255px;
	top: 462px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south305B-occupied {
	position: absolute;
	left: 260px;
	top: 382px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south306A-occupied {
	position: absolute;
	left: 1048px;
	top: 373px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south306B-occupied {
	position: absolute;
	left: 1119px;
	top: 389px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south306C-occupied {
	position: absolute;
	left: 1119px;
	top: 466px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303A-occupied {
	position: absolute;
	left: 259px;
	top: 541px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303B-occupied {
	position: absolute;
	left: 259px;
	top: 622px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south303C-occupied {
	position: absolute;
	left: 340px;
	top: 639px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south309-occupied {
	position: absolute;
	left: 533px;
	top: 236px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south307A-occupied {
	position: absolute;
	left: 271px;
	top: 164px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south311-occupied {
	position: absolute;
	left: 651px;
	top: 232px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south312-occupied {
	position: absolute;
	left: 726px;
	top: 236px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308A-occupied {
	position: absolute;
	left: 1105px;
	top: 164px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south310-occupied {
	position: absolute;
	left: 846px;
	top: 235px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308C-occupied {
	position: absolute;
	left: 1117px;
	top: 316px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308D-occupied {
	position: absolute;
	left: 1047px;
	top: 323px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south304A-locked {
	position: absolute;
	left: 1122px;
	top: 546px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302B-locked {
	position: absolute;
	left: 1125px;
	top: 702px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304C-locked {
	position: absolute;
	left: 1045px;
	top: 639px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south304B-locked {
	position: absolute;
	left: 1123px;
	top: 628px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302A-locked {
	position: absolute;
	left: 1043px;
	top: 691px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302C-locked {
	position: absolute;
	left: 1122px;
	top: 776px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south302D-locked {
	position: absolute;
	left: 1105px;
	top: 844px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301A-locked {
	position: absolute;
	left: 339px;
	top: 690px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301B-locked {
	position: absolute;
	left: 260px;
	top: 696px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301C-locked {
	position: absolute;
	left: 265px;
	top: 778px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south301D-locked {
	position: absolute;
	left: 272px;
	top: 844px;
	width: 38px;
	height: 36px;
	z-index: 2;
	cursor: pointer
}
    #south307B-locked {
	position: absolute;
	left: 258px;
	top: 228px;
	width: 46px;
	height: 44px;
	z-index: 3;
	cursor: pointer
}#south363-locked {
  position: absolute;
  left: 714px;
  top: 353px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south361-locked {
  position: absolute;
  left: 648px;
  top: 350px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south307D-locked {
	position: absolute;
	left: 341px;
	top: 320px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #south305A-locked {
	position: absolute;
	left: 340px;
	top: 373px;
	width: 43px;
	height: 41px;
	z-index: 1;
	cursor: pointer
}
    #south307C-locked {
	position: absolute;
	left: 262px;
	top: 304px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south308B-locked {
	position: absolute;
	left: 1118px;
	top: 231px;
	width: 44px;
	height: 45px;
	z-index: 1;
	cursor: pointer
}
    #south413-locked {

  position: absolute;
  left: 912px;
  top: 295px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south365-locked {
  position: absolute;
  left: 781px;
  top: 351px;
  width: 53px;
  height: 54px;
  z-index: 1;
    cursor: pointer
}
    #south305C-locked {
	position: absolute;
	left: 254px;
	top: 461px;
	width: 45px;
	height: 46px;
	z-index: 1;
	cursor: pointer
}
    #south305B-locked {
	position: absolute;
	left: 261px;
	top: 381px;
	width: 41px;
	height: 43px;
	z-index: 1;
	cursor: pointer
}
    #south306A-locked {
	position: absolute;
	left: 1047px;
	top: 373px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south306B-locked {
	position: absolute;
	left: 1120px;
	top: 389px;
	width: 41px;
	height: 38px;
	z-index: 1;
	cursor: pointer
}
    #south306C-locked {
	position: absolute;
	left: 1121px;
	top: 465px;
	width: 41px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303A-locked {
	position: absolute;
	left: 259px;
	top: 540px;
	width: 40px;
	height: 39px;
	z-index: 1;
	cursor: pointer
}
    #south303B-locked {
	position: absolute;
	left: 261px;
	top: 622px;
	width: 35px;
	height: 36px;
	z-index: 1;
	cursor: pointer
}
    #south303C-locked {
	position: absolute;
	left: 340px;
	top: 639px;
	width: 37px;
	height: 37px;
	z-index: 1;
	cursor: pointer
}
    #south309-locked {
	position: absolute;
	left: 533px;
	top: 237px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south307A-locked {
	position: absolute;
	left: 271px;
	top: 164px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south311-locked {
	position: absolute;
	left: 650px;
	top: 234px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south312-locked {
	position: absolute;
	left: 726px;
	top: 238px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308A-locked {
	position: absolute;
	left: 1105px;
	top: 163px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south310-locked {
	position: absolute;
	left: 846px;
	top: 237px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308C-locked {
	position: absolute;
	left: 1118px;
	top: 316px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #south308D-locked {
	position: absolute;
	left: 1048px;
	top: 323px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
