#west466-locked {
	position: absolute;
	left: 383px;
	top: 188px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west472-locked {
	position: absolute;
	left: 501px;
	top: 283px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west464-locked {
	position: absolute;
	left: 384px;
	top: 274px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west462-locked {
	position: absolute;
	left: 385px;
	top: 348px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west460-locked {
	position: absolute;
	left: 386px;
	top: 434px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west476-locked {
	position: absolute;
	left: 567px;
	top: 280px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west465-locked {
	position: absolute;
	left: 934px;
	top: 179px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west463-locked {
	position: absolute;
	left: 931px;
	top: 265px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west461-locked {
	position: absolute;
	left: 931px;
	top: 344px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west458-locked {
	position: absolute;
	left: 389px;
	top: 512px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west459-locked {
	position: absolute;
	left: 933px;
	top: 423px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west457-locked {
	position: absolute;
	left: 934px;
	top: 506px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west455-locked {
	position: absolute;
	left: 934px;
	top: 586px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west453-locked {
	position: absolute;
	left: 936px;
	top: 673px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west451-locked {
	position: absolute;
	left: 936px;
	top: 750px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west456-locked {
	position: absolute;
	left: 390px;
	top: 597px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west454-locked {
	position: absolute;
	left: 389px;
	top: 680px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west452-locked {
	position: absolute;
	left: 388px;
	top: 765px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west474-locked {
	position: absolute;
	left: 580px;
	top: 160px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west470-locked {
	position: absolute;
	left: 499px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west478-locked {
	position: absolute;
	left: 629px;
	top: 160px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west477-locked {
	position: absolute;
	left: 699px;
	top: 162px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west473-locked {
	position: absolute;
	left: 752px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west469-locked {
	position: absolute;
	left: 833px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west475-locked {
	position: absolute;
	left: 754px;
	top: 296px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west471-locked {
	position: absolute;
	left: 832px;
	top: 298px;
	width: 42px;
	height: 42px;
	z-index: 1;
}

    #west466-occupied {
	position: absolute;
	left: 383px;
	top: 188px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west472-occupied {
	position: absolute;
	left: 501px;
	top: 283px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west464-occupied {
	position: absolute;
	left: 384px;
	top: 274px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west462-occupied {
	position: absolute;
	left: 385px;
	top: 348px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west460-occupied {
	position: absolute;
	left: 386px;
	top: 434px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west476-occupied {
	position: absolute;
	left: 567px;
	top: 280px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west465-occupied {
	position: absolute;
	left: 934px;
	top: 179px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west463-occupied {
	position: absolute;
	left: 931px;
	top: 265px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west461-occupied {
	position: absolute;
	left: 931px;
	top: 344px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west458-occupied {
	position: absolute;
	left: 389px;
	top: 512px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west459-occupied {
	position: absolute;
	left: 933px;
	top: 423px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west457-occupied {
	position: absolute;
	left: 934px;
	top: 506px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west455-occupied {
	position: absolute;
	left: 934px;
	top: 586px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west453-occupied {
	position: absolute;
	left: 936px;
	top: 673px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west451-occupied {
	position: absolute;
	left: 936px;
	top: 750px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west456-occupied {
	position: absolute;
	left: 390px;
	top: 597px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west454-occupied {
	position: absolute;
	left: 389px;
	top: 680px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west452-occupied {
	position: absolute;
	left: 388px;
	top: 765px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west474-occupied {
	position: absolute;
	left: 580px;
	top: 160px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west470-occupied {
	position: absolute;
	left: 499px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west478-occupied {
	position: absolute;
	left: 629px;
	top: 160px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west477-occupied {
	position: absolute;
	left: 699px;
	top: 162px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west473-occupied {
	position: absolute;
	left: 752px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west469-occupied {
	position: absolute;
	left: 833px;
	top: 159px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west475-occupied {
	position: absolute;
	left: 754px;
	top: 296px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west471-occupied {
	position: absolute;
	left: 832px;
	top: 298px;
	width: 42px;
	height: 42px;
	z-index: 1;
}