#west416-locked {
	position: absolute;
	left: 401px;
	top: 226px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west422-locked {
	position: absolute;
	left: 506px;
	top: 312px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west414-locked {
	position: absolute;
	left: 398px;
	top: 302px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west412-locked {
	position: absolute;
	left: 403px;
	top: 377px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west410-locked {
	position: absolute;
	left: 401px;
	top: 451px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west426-locked {
	position: absolute;
	left: 568px;
	top: 316px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west415-locked {
	position: absolute;
	left: 914px;
	top: 218px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west413-locked {
	position: absolute;
	left: 914px;
	top: 295px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west411-locked {
	position: absolute;
	left: 910px;
	top: 368px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west408-locked {
	position: absolute;
	left: 404px;
	top: 526px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west409-locked {
	position: absolute;
	left: 915px;
	top: 444px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west407-locked {
	position: absolute;
	left: 913px;
	top: 521px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west405-locked {
	position: absolute;
	left: 911px;
	top: 601px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west403-locked {
	position: absolute;
	left: 908px;
	top: 676px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west401-locked {
	position: absolute;
	left: 912px;
	top: 750px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west406-locked {
	position: absolute;
	left: 405px;
	top: 609px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west404-locked {
	position: absolute;
	left: 407px;
	top: 683px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west402-locked {
	position: absolute;
	left: 411px;
	top: 764px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west424-locked {
	position: absolute;
	left: 580px;
	top: 197px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west420-locked {
	position: absolute;
	left: 505px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west428-locked {
	position: absolute;
	left: 628px;
	top: 198px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west427-locked {
	position: absolute;
	left: 698px;
	top: 198px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west423-locked {
	position: absolute;
	left: 744px;
	top: 198px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west419-locked {
	position: absolute;
	left: 818px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west425-locked {
	position: absolute;
	left: 746px;
	top: 323px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west421-locked {
	position: absolute;
	left: 821px;
	top: 328px;
	width: 42px;
	height: 42px;
	z-index: 1;
}

    #west416-occupied {
	position: absolute;
	left: 400px;
	top: 225px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west422-occupied {
	position: absolute;
	left: 505px;
	top: 310px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west414-occupied {
	position: absolute;
	left: 398px;
	top: 302px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west412-occupied {
	position: absolute;
	left: 402px;
	top: 378px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west410-occupied {
	position: absolute;
	left: 402px;
	top: 452px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west426-occupied {
	position: absolute;
	left: 568px;
	top: 314px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west415-occupied {
	position: absolute;
	left: 914px;
	top: 218px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west413-occupied {
	position: absolute;
	left: 912px;
	top: 295px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west411-occupied {
	position: absolute;
	left: 910px;
	top: 368px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west408-occupied {
	position: absolute;
	left: 403px;
	top: 527px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west409-occupied {
	position: absolute;
	left: 913px;
	top: 443px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west407-occupied {
	position: absolute;
	left: 914px;
	top: 523px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west405-occupied {
	position: absolute;
	left: 912px;
	top: 600px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west403-occupied {
	position: absolute;
	left: 910px;
	top: 677px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west401-occupied {
	position: absolute;
	left: 909px;
	top: 753px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west406-occupied {
	position: absolute;
	left: 405px;
	top: 609px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west404-occupied {
	position: absolute;
	left: 407px;
	top: 686px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west402-occupied {
	position: absolute;
	left: 410px;
	top: 764px;
	width: 53px;
	height: 54px;
	z-index: 1;
}
    #west424-occupied {
	position: absolute;
	left: 580px;
	top: 197px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west420-occupied {
	position: absolute;
	left: 505px;
	top: 199px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west428-occupied {
	position: absolute;
	left: 626px;
	top: 198px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west427-occupied {
	position: absolute;
	left: 699px;
	top: 198px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west423-occupied {
	position: absolute;
	left: 744px;
	top: 199px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west419-occupied {
	position: absolute;
	left: 820px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west425-occupied {
	position: absolute;
	left: 747px;
	top: 323px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
    #west421-occupied {
	position: absolute;
	left: 819px;
	top: 326px;
	width: 42px;
	height: 42px;
	z-index: 1;
}
