    #west416-occupied {
	position: absolute;
	left: 1029px;
	top: 253px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west422-occupied {
	position: absolute;
	left: 893px;
	top: 360px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west414-occupied {
	position: absolute;
	left: 1029px;
	top: 339px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west412-occupied {
	position: absolute;
	left: 1029px;
	top: 424px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west410-occupied {
	position: absolute;
	left: 1029px;
	top: 507px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west426-occupied {
	position: absolute;
	left: 789px;
	top: 357px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west415-occupied {
	position: absolute;
	left: 291px;
	top: 268px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west413-occupied {
	position: absolute;
	left: 291px;
	top: 347px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west411-occupied {
	position: absolute;
	left: 291px;
	top: 428px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west408-occupied {
	position: absolute;
	left: 1029px;
	top: 581px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west409-occupied {
	position: absolute;
	left: 291px;
	top: 513px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west407-occupied {
	position: absolute;
	left: 291px;
	top: 581px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west405-occupied {
	position: absolute;
	left: 291px;
	top: 667px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west403-occupied {
	position: absolute;
	left: 291px;
	top: 739px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west401-occupied {
	position: absolute;
	left: 291px;
	top: 827px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west406-occupied {
	position: absolute;
	left: 1029px;
	top: 661px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west404-occupied {
	position: absolute;
	left: 1029px;
	top: 736px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west402-occupied {
	position: absolute;
	left: 1029px;
	top: 824px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west424-occupied {
	position: absolute;
	left: 782px;
	top: 227px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west420-occupied {
	position: absolute;
	left: 889px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west428-occupied {
	position: absolute;
	left: 719px;
	top: 227px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west427-occupied {
	position: absolute;
	left: 615px;
	top: 229px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west423-occupied {
	position: absolute;
	left: 544px;
	top: 229px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west419-occupied {
	position: absolute;
	left: 441px;
	top: 232px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west425-occupied {
	position: absolute;
	left: 542px;
	top: 359px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west421-occupied {
	position: absolute;
	left: 440px;
	top: 362px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west416-locked {
	position: absolute;
	left: 1029px;
	top: 252px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west422-locked {
	position: absolute;
	left: 894px;
	top: 360px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west414-locked {
	position: absolute;
	left: 1029px;
	top: 338px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west412-locked {
	position: absolute;
	left: 1029px;
	top: 424px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west410-locked {
	position: absolute;
	left: 1029px;
	top: 507px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west426-locked {
	position: absolute;
	left: 790px;
	top: 356px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west415-locked {
	position: absolute;
	left: 291px;
	top: 269px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west413-locked {
	position: absolute;
	left: 291px;
	top: 348px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west411-locked {
	position: absolute;
	left: 292px;
	top: 430px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west408-locked {
	position: absolute;
	left: 1029px;
	top: 581px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west409-locked {
	position: absolute;
	left: 292px;
	top: 515px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west407-locked {
	position: absolute;
	left: 292px;
	top: 583px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west405-locked {
	position: absolute;
	left: 292px;
	top: 669px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west403-locked {
	position: absolute;
	left: 292px;
	top: 741px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west401-locked {
	position: absolute;
	left: 292px;
	top: 829px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west406-locked {
	position: absolute;
	left: 1029px;
	top: 661px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west404-locked {
	position: absolute;
	left: 1029px;
	top: 736px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west402-locked {
	position: absolute;
	left: 1029px;
	top: 824px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west424-locked {
	position: absolute;
	left: 783px;
	top: 226px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west420-locked {
	position: absolute;
	left: 890px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west428-locked {
	position: absolute;
	left: 722px;
	top: 226px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west427-locked {
	position: absolute;
	left: 616px;
	top: 230px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west423-locked {
	position: absolute;
	left: 545px;
	top: 228px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west419-locked {
	position: absolute;
	left: 441px;
	top: 232px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west425-locked {
	position: absolute;
	left: 543px;
	top: 358px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west421-locked {
	position: absolute;
	left: 440px;
	top: 362px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
