    #west466-occupied {
  position: absolute;
  left: 943px;
  top: 236px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west472-occupied {
  position: absolute;
  left: 842px;
  top: 337px;
  width: 45px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west464-occupied {
  position: absolute;
  left: 949px;
  top: 332px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west462-occupied {
  position: absolute;
  left: 949px;
  top: 398px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west460-occupied {
  position: absolute;
  left: 951px;
  top: 476px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west476-occupied {
  position: absolute;
  left: 762px;
  top: 337px;
  width: 43px;
  height: 40px;
  z-index: 1;
  cursor: pointer
}
    #west465-occupied {
  position: absolute;
  left: 403px;
  top: 235px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west463-occupied {
  position: absolute;
  left: 398px;
  top: 314px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west461-occupied {
  position: absolute;
  left: 393px;
  top: 401px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west458-occupied {
  position: absolute;
  left: 954px;
  top: 555px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west459-occupied {
  position: absolute;
  left: 399px;
  top: 481px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west457-occupied {
  position: absolute;
  left: 402px;
  top: 564px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west455-occupied {
  position: absolute;
  left: 409px;
  top: 645px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west453-occupied {
  position: absolute;
  left: 406px;
  top: 732px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west451-occupied {
  position: absolute;
  left: 402px;
  top: 816px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west456-occupied {
  position: absolute;
  left: 955px;
  top: 650px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west454-occupied {
  position: absolute;
  left: 957px;
  top: 725px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west452-occupied {
  position: absolute;
  left: 957px;
  top: 823px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west474-occupied {
  position: absolute;
  left: 757px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west470-occupied {
  position: absolute;
  left: 842px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west478-occupied {
  position: absolute;
  left: 708px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west477-occupied {
  position: absolute;
  left: 635px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west473-occupied {
  position: absolute;
  left: 582px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west469-occupied {
  position: absolute;
  left: 506px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west475-occupied {
  position: absolute;
  left: 575px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west471-occupied {
  position: absolute;
  left: 511px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west466-locked {
  position: absolute;
  left: 943px;
  top: 236px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west472-locked {
  position: absolute;
  left: 842px;
  top: 337px;
  width: 45px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west464-locked {
  position: absolute;
  left: 949px;
  top: 332px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west462-locked {
  position: absolute;
  left: 949px;
  top: 398px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west460-locked {
  position: absolute;
  left: 951px;
  top: 476px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west476-locked {
  position: absolute;
  left: 762px;
  top: 337px;
  width: 43px;
  height: 40px;
  z-index: 1;
  cursor: pointer
}
    #west465-locked {
  position: absolute;
  left: 403px;
  top: 235px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west463-locked {
  position: absolute;
  left: 398px;
  top: 314px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west461-locked {
  position: absolute;
  left: 393px;
  top: 401px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west458-locked {
  position: absolute;
  left: 954px;
  top: 555px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west459-locked {
  position: absolute;
  left: 399px;
  top: 481px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west457-locked {
  position: absolute;
  left: 402px;
  top: 564px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west455-locked {
  position: absolute;
  left: 409px;
  top: 645px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west453-locked {
  position: absolute;
  left: 406px;
  top: 732px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west451-locked {
  position: absolute;
  left: 402px;
  top: 816px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west456-locked {
  position: absolute;
  left: 955px;
  top: 650px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west454-locked {
  position: absolute;
  left: 957px;
  top: 725px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west452-locked {
  position: absolute;
  left: 957px;
  top: 823px;
  width: 53px;
  height: 54px;
  z-index: 1;
  cursor: pointer
}
    #west474-locked {
  position: absolute;
  left: 757px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west470-locked {
  position: absolute;
  left: 842px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west478-locked {
  position: absolute;
  left: 708px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west477-locked {
  position: absolute;
  left: 635px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west473-locked {
  position: absolute;
  left: 582px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west469-locked {
  position: absolute;
  left: 506px;
  top: 202px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west475-locked {
  position: absolute;
  left: 575px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
    #west471-locked {
  position: absolute;
  left: 511px;
  top: 337px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer
}
