    #west466-occupied {
	position: absolute;
	left: 1038px;
	top: 243px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west472-occupied {
	position: absolute;
	left: 898px;
	top: 336px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west464-occupied {
	position: absolute;
	left: 1044px;
	top: 339px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west462-occupied {
	position: absolute;
	left: 1044px;
	top: 405px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west460-occupied {
	position: absolute;
	left: 1046px;
	top: 483px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west476-occupied {
	position: absolute;
	left: 787px;
	top: 338px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west465-occupied {
	position: absolute;
	left: 291px;
	top: 244px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west463-occupied {
	position: absolute;
	left: 286px;
	top: 323px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west461-occupied {
	position: absolute;
	left: 281px;
	top: 410px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west458-occupied {
	position: absolute;
	left: 1049px;
	top: 562px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west459-occupied {
	position: absolute;
	left: 287px;
	top: 490px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west457-occupied {
	position: absolute;
	left: 290px;
	top: 573px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west455-occupied {
	position: absolute;
	left: 297px;
	top: 654px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west453-occupied {
	position: absolute;
	left: 294px;
	top: 741px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west451-occupied {
	position: absolute;
	left: 290px;
	top: 825px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west456-occupied {
	position: absolute;
	left: 1050px;
	top: 657px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west454-occupied {
	position: absolute;
	left: 1052px;
	top: 732px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west452-occupied {
	position: absolute;
	left: 1052px;
	top: 830px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west474-occupied {
	position: absolute;
	left: 786px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west470-occupied {
	position: absolute;
	left: 897px;
	top: 203px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west478-occupied {
	position: absolute;
	left: 720px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west477-occupied {
	position: absolute;
	left: 619px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west473-occupied {
	position: absolute;
	left: 551px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west469-occupied {
	position: absolute;
	left: 445px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west475-occupied {
	position: absolute;
	left: 548px;
	top: 331px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west471-occupied {
	position: absolute;
	left: 447px;
	top: 333px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west466-locked {
	position: absolute;
	left: 1038px;
	top: 244px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west472-locked {
	position: absolute;
	left: 898px;
	top: 337px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west464-locked {
	position: absolute;
	left: 1044px;
	top: 340px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west462-locked {
	position: absolute;
	left: 1044px;
	top: 406px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west460-locked {
	position: absolute;
	left: 1046px;
	top: 484px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west476-locked {
	position: absolute;
	left: 789px;
	top: 337px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west465-locked {
	position: absolute;
	left: 291px;
	top: 243px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west463-locked {
	position: absolute;
	left: 286px;
	top: 322px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west461-locked {
	position: absolute;
	left: 281px;
	top: 409px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west458-locked {
	position: absolute;
	left: 1049px;
	top: 563px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west459-locked {
	position: absolute;
	left: 287px;
	top: 489px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west457-locked {
	position: absolute;
	left: 290px;
	top: 572px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west455-locked {
	position: absolute;
	left: 297px;
	top: 653px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west453-locked {
	position: absolute;
	left: 294px;
	top: 740px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west451-locked {
	position: absolute;
	left: 290px;
	top: 824px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west456-locked {
	position: absolute;
	left: 1050px;
	top: 658px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west454-locked {
	position: absolute;
	left: 1052px;
	top: 733px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west452-locked {
	position: absolute;
	left: 1052px;
	top: 831px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west474-locked {
	position: absolute;
	left: 790px;
	top: 201px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west470-locked {
	position: absolute;
	left: 898px;
	top: 203px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west478-locked {
	position: absolute;
	left: 719px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west477-locked {
	position: absolute;
	left: 619px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west473-locked {
	position: absolute;
	left: 550px;
	top: 203px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west469-locked {
	position: absolute;
	left: 446px;
	top: 202px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west475-locked {
	position: absolute;
	left: 548px;
	top: 331px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west471-locked {
	position: absolute;
	left: 446px;
	top: 334px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
