    #west416-occupied {
	position: absolute;
	left: 1030px;
	top: 333px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west422-occupied {
	position: absolute;
	left: 894px;
	top: 440px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west414-occupied {
	position: absolute;
	left: 1030px;
	top: 419px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west412-occupied {
	position: absolute;
	left: 1030px;
	top: 504px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west410-occupied {
	position: absolute;
	left: 1030px;
	top: 587px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west426-occupied {
	position: absolute;
	left: 790px;
	top: 437px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west415-occupied {
	position: absolute;
	left: 292px;
	top: 348px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west413-occupied {
	position: absolute;
	left: 292px;
	top: 427px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west411-occupied {
	position: absolute;
	left: 292px;
	top: 508px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west408-occupied {
	position: absolute;
	left: 1030px;
	top: 661px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west409-occupied {
	position: absolute;
	left: 292px;
	top: 593px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west407-occupied {
	position: absolute;
	left: 292px;
	top: 661px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west405-occupied {
	position: absolute;
	left: 292px;
	top: 747px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west403-occupied {
	position: absolute;
	left: 292px;
	top: 819px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west401-occupied {
	position: absolute;
	left: 292px;
	top: 907px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west406-occupied {
	position: absolute;
	left: 1030px;
	top: 741px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west404-occupied {
	position: absolute;
	left: 1030px;
	top: 816px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west402-occupied {
	position: absolute;
	left: 1030px;
	top: 904px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west424-occupied {
	position: absolute;
	left: 783px;
	top: 307px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west420-occupied {
	position: absolute;
	left: 890px;
	top: 310px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west428-occupied {
	position: absolute;
	left: 720px;
	top: 307px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west427-occupied {
	position: absolute;
	left: 616px;
	top: 309px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west423-occupied {
	position: absolute;
	left: 545px;
	top: 309px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west419-occupied {
	position: absolute;
	left: 442px;
	top: 312px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west425-occupied {
	position: absolute;
	left: 543px;
	top: 439px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west421-occupied {
	position: absolute;
	left: 441px;
	top: 442px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west416-locked {
	position: absolute;
	left: 1028px;
	top: 329px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west422-locked {
	position: absolute;
	left: 893px;
	top: 437px;
	width: 45px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west414-locked {
	position: absolute;
	left: 1028px;
	top: 415px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west412-locked {
	position: absolute;
	left: 1028px;
	top: 501px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west410-locked {
	position: absolute;
	left: 1028px;
	top: 584px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west426-locked {
	position: absolute;
	left: 789px;
	top: 433px;
	width: 43px;
	height: 40px;
	z-index: 1;
	cursor: pointer
}
    #west415-locked {
	position: absolute;
	left: 290px;
	top: 346px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west413-locked {
	position: absolute;
	left: 290px;
	top: 425px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west411-locked {
	position: absolute;
	left: 291px;
	top: 507px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west408-locked {
	position: absolute;
	left: 1028px;
	top: 658px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west409-locked {
	position: absolute;
	left: 291px;
	top: 592px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west407-locked {
	position: absolute;
	left: 291px;
	top: 660px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west405-locked {
	position: absolute;
	left: 291px;
	top: 746px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west403-locked {
	position: absolute;
	left: 291px;
	top: 818px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west401-locked {
	position: absolute;
	left: 291px;
	top: 906px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west406-locked {
	position: absolute;
	left: 1028px;
	top: 738px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west404-locked {
	position: absolute;
	left: 1028px;
	top: 813px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west402-locked {
	position: absolute;
	left: 1028px;
	top: 901px;
	width: 53px;
	height: 54px;
	z-index: 1;
	cursor: pointer
}
    #west424-locked {
	position: absolute;
	left: 782px;
	top: 303px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west420-locked {
	position: absolute;
	left: 889px;
	top: 307px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west428-locked {
	position: absolute;
	left: 721px;
	top: 303px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west427-locked {
	position: absolute;
	left: 615px;
	top: 307px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west423-locked {
	position: absolute;
	left: 544px;
	top: 305px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west419-locked {
	position: absolute;
	left: 440px;
	top: 309px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west425-locked {
	position: absolute;
	left: 542px;
	top: 435px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
    #west421-locked {
	position: absolute;
	left: 439px;
	top: 439px;
	width: 42px;
	height: 42px;
	z-index: 1;
	cursor: pointer
}
